<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>글 수정</h1>


    <form method="post" action="/board/write" id="frm_write" enctype="multipart/form-data" >
        <div class="">

            <div>
                <span>메인 카테고리 : 
                    <select name="main" id="main" onchange="mainChangeHandler(this)" >
                        <option value="buy">중고거래</option>
                        <option value="friends">동네친구찾기</option>
                        <option value="question">Q&A</option>
                        <option value="ban">신고</option>
                    </select>
                </span>
                <span>서브 카테고리 : 
                    <select name="sub" id="sub" onchange="subChageHandler(this)">
                    </select>
                </span>
            </div>


            <div class="">
                <label class="" for="subject" class="">제목 :</label>
                <div class="">
                    <input class="form-control" type="text" name="subject" id="subject" required  style="width:100%">
                </div>
            </div>
            <div class="">
                <input type="file" name="upload" id="upload"  multiple accept="image/*">
            </div>
            <div class="">
                <label class="" for="content" class="">내용 :</label>
                <div class="">
                    <textarea rows="20" class="" name="content" id="content" required style="width:100%"></textarea>
                </div>
            </div>
        </div>
        <div class="">
            <input class="" type="submit" value="글 게시하기">
        </div>
    </form>


    <script>
            let idx=location.pathname.split('/')[3]
            let main=''
            let sub=''
     

            async function getData() {
                const subjectInput = document.querySelector('#subject')
                const contentInput = document.querySelector('#content')
                const filesInput = document.querySelector('#upload');


         
                const option = {
                    "Content-type":"application/json",
                    withCredentials: true,
                }
       
              
             
                const response = await axios.post(`http://localhost:3000/board/get-post/${idx}`,null,option)
          console.log(response)
                const { subject, nickname, content,userid,imageName,main,sub } = response.data.data
                    subjectInput.value=subject
                    subjectInput.value = subject
                    contentInput.value = content
                    main=main
                    sub=sub
           
                    subjectBox.innerHTML = subject
                    nicknameBox.innerHTML = nickname
                    contentBox.innerHTML = content
                 

                    if('{{userData.userid}}'===userid){
                       
                    }
                 



              
            }
            getData()




    const buy = [
                { label: '디지털기기', value: '디지털기기' },
                { label: '생활가전', value: '생활가전' },
                { label: '가구/인테리어', value: '가구/인테리어' },
                { label: '유아동', value: '유아동' },
                { label: '생활/가공식품', value: '생활/가공식품' },
                { label: '유아도서', value: '유아도서' },
                { label: '스포츠/레저', value: '스포츠/레저' },
                { label: '여성잡화', value: '여성잡화' },
                { label: '여성의류', value: '여성의류' },
                { label: '남성패션/잡화', value: '남성패션/잡화' },
                { label: '게임/취미', value: '게임/취미' },
                { label: '뷰티/미용', value: '뷰티/미용' },
                { label: '반려동물용품', value: '반려동물용품' },
                { label: '도서/티켓/음반', value: '도서/티켓/음반' },
                { label: '식물', value: '식물' },
                { label: '기타 중고물품', value: '기타 중고물품' },
                { label: '삽니다', value: '삽니다' },
            ]
            const friends = [
            {label:"서울", value:"서울"},
            {label:"대전", value:"대전"},
            {label:"대구", value:"대구"},
            {label:"부산", value:"부산"},
            {label:"경기", value:"경기"},
            {label:"인천", value:"인천"},
            {label:"강원", value:"강원"},
            {label:"충청", value:"충청"},
            {label:"전라", value:"전라"},
            {label:"경상", value:"경상"},
        ]
           


    const mainChangeHandler=(e)=>{
        main=e.value
        let options=''
        let array=[]
        let subOptions =''
        const subCategoryWrapper=document.getElementById('sub')


        switch (e.value) {
            case "buy":
                array=buy
            break;
            case "friends":
                array=friends
            break;
            default:
            break;
        }

        for (let i = 0; i < array.length; i++) {
                    const item = array[i];
                    subOptions += `<option value="${item.label}">${item.label}</option>`
                }
                subCategoryWrapper.innerHTML=subOptions



    }

    const subChageHandler=(e)=>{
        sub=e.value
    }


   async function write() {
      
            const frm = document.querySelector('#frm_write')
           

            
            frm.addEventListener('submit', async (e) => {
                e.preventDefault()
                const subject = document.querySelector('#subject').value
            const content = document.querySelector('#content').value
            const files = document.querySelector('#upload').files;
              
               
                const formData = new FormData()

                for (let i = 0; i < files.length; i++) {
                    const file = files[i];
                    formData.append('upload', file)
                }
                


                formData.append('subject', subject)
                formData.append('content', content)
                formData.append('main', main)
                formData.append('sub', sub)
                formData.append('idx', idx)

                const option = {
                    "Content-type": "application/json",
                    withCredentials: true,
                }

                if (files.length < 6) {
                    const response = await axios.post('http://localhost:3000/board/modify', formData, option)
             
                     location.href=('/')
                } else {
                    alert("이미지의 최대 갯수는 5장입니다 확인해주세요")
                }
            })
        }

        write()
</script>
    

</body>
</html>