<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="http://localhost:3001/css/common.css">
    <link type="text/css" rel="stylesheet" href="http://localhost:3001/css/board/comment.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript"></script>
</head>
<body>
    
    <div class="container">
        <div class="card">
            <div class="card-header">
                제목 : <span id="subject"></span>
            </div>
            <div class="card-body">
                닉네임 : <span id="nickname"></span>
                <div id="hit"></div>
            </div>

            <div class="card-body">
                <div id="image" class="card-image"></div>
            </div>
            <div class="card-body">
                <div id="content"></div>
            </div>
            <div id="tag">

            </div>
        </div>
        <div id="delete-btn"></div>
     
      
      
        <!-- 여기서부터 댓글시작 -->

        <!-- 여기서부터 댓글-->
        <div>
            <ul id="commentApp"></ul>
        </div>

        <template id="commentForm">
            <li class="comment-form">
                <form action="post" action="">
                    <h4>댓글쓰기 <span></span></h4>
                    <span class="ps_box">
                        <input type="text" placeholder="댓글 내용을 입력해주세요." class="int" value="" name="input">
                    </span>
                    <input type="submit" class="btn" value="등록" />
                </form>
            </li>
        </template>

        <div id="commentList">
           
        </div>

        <template id="commentInput">
            <span>
                <input type="text" class="comment-update-input" value="">
            </span>
        </template>

        <script type="text/javascript">
                let idx=location.pathname.split('/')[3]
            async function view() {
               
                const subjectBox = document.querySelector('#subject')
                const nicknameBox = document.querySelector('#nickname')
                const contentBox = document.querySelector('#content')
                const tagBox = document.querySelector('#tag')

                const response = await axios.post(`http://localhost:3000/board/view/${idx}`, {
                    withCredentials: true,
                })
           
                const { subject, nickname, content,userid ,tag} = response.data.data
                let innerTag=''
                tag.forEach(t => {
                    innerTag+=`<span class="tag-item"># ${t.tag}</span>`
                });
              
                tagBox.innerHTML = innerTag
                    subjectBox.innerHTML = subject
                    nicknameBox.innerHTML = nickname
                    contentBox.innerHTML = content
                 

                    if('{{userData.userid}}'===userid){
                        document.getElementById('delete-btn').innerHTML=`
                        <div>
                            <button onclick="postDeleteHandler(this)">삭제</button>
                            <a href="http://localhost:3001/board/modify/${idx}">업데이트</a>
                            </div>
                            `
                    }
                


              
            }
            view()

           async function postDeleteHandler(e) {
            const option = {
                "Content-type":"application/json",
                withCredentials:true,
            };

                const response = await axios.post(`http://localhost:3000/board/delete/${idx}`, null,option)
                if(response.data.status){
                    location.href="/"
                }
            }


         
        </script>

        <script type="text/javascript">
            let state = {
                replay: [
                ],
                value: '',
                length: ''
            }

            
            function commentView() {
                commentApp.innerHTML = ''
                createForm()
               
                const commentList = document.getElementById('commentList')
                let inData=''
                state.replay.forEach((v, i) => {
                   
                   
                    inData+=`
                    <li>
                <ul class="comment-row">
                    <li class="comment-id">${v.nickname}</li>
                    <li class="comment-content">
                        <p id="comment-text-${i}" onclick="commentClick(${i} , '${v.userid}')">${v.comment} </p>   
                            <input id="comment-input-${i}" type="hidden" value="${v.comment}"/>   
                            <button  id="comment-button-${i}" style="display:none" onclick="onsubmitHandler(${i},'${v.uuid}')">Send</button>
                            <input id="comment-uuid-${i}" type="hidden" name="uuid" value="${v.uuid}"  />
                            <input id="comment-userid-${i}" type="hidden" name="uuid" value="${v.userid}"  />
                            <input id="comment-nickname-${i}" type="hidden" name="uuid" value="${v.nickname}"  />
                            <button type="button" id="comment-delete-${i}" onclick="ondeleteHandler('${v.uuid}')" class="comment-delete-btn">X</span>
                    </li>
                    <li class="comment-date">${v.updatedAt}</li>
                </ul>
            </li>
            `

                   
                })
              
                commentList.innerHTML=inData
            }

            async function ondeleteHandler(uuid) {
                const response = await axios.post(`http://localhost:3000/board/comment-delete/${uuid}`, {
                                withCredentials: true,
                            })
                          
                            if (response.data.status) {
                                const newReply = state.replay.filter(v => v.uuid !== uuid)
                                state = {
                                    ...state,
                                    replay: newReply,
                                    length: newReply.length
                                }
                            }commentView()
                        }
                        
                async function onsubmitHandler( i,v) {
                    const _value=document.getElementById(`comment-input-${i}`)
                    const userid=document.getElementById(`comment-userid-${i}`).value
                    const nickname=document.getElementById(`comment-nickname-${i}`).value
                    const uuid=document.getElementById(`comment-uuid-${i}`).value
             
        
                const response = await axios.post(`http://localhost:3000/board/comment-update/${uuid}`, { comment: _value.value}, {
                            withCredentials: true,
                        })
                 
                    document.getElementById(`comment-text-${i}`).style.display="block"
                        _value.type="hidden"
                        document.getElementById(`comment-button-${i}`).style.display="none"
                    if(response.data.status){
                        console.log('response')
                        state = {
                        ...state,
                        replay: response.data.commentList,
                        length: response.data.commentList.length
                        }
                        counting.innerHTML = `(${state.length})`
                        commentView()
                       
                    }
            }


            async function commentClick(i,_userid) {
               
                if(_userid==='{{  userData.userid  }}'){
                    document.getElementById(`comment-text-${i}`).style.display="none"
                    document.getElementById(`comment-input-${i}`).type="text"
                    document.getElementById(`comment-button-${i}`).style.display="block"

                }
            }
 

            
            async function getComment() {

                const [, , , idx] = location.pathname.split('/') 
                const response = await axios.post(`http://localhost:3000/board/comment/${idx}`, {
                    withCredentials: true,
                })
               
                if(response.data.status){
                        state = {
                        ...state,
                        replay: response.data.data,
                        length: response.data.data.length
                    }
                    commentView()
                }
               
            }

            getComment()


            const commentApp = document.querySelector('#commentApp')
            const commentForm = document.querySelector('#commentForm')
            const commentList = document.querySelector('#commentList')
            const commentInput = document.querySelector('#commentInput')

            function createForm() {
                const clone = document.importNode(commentForm.content, true)
                const form = clone.querySelector('form')

                const counting = form.querySelector('h4 > span')
                counting.innerHTML = `(${state.length})`

                form.addEventListener('submit', submitHandler)
                commentApp.append(clone)
            }
     
            async  function submitHandler(e) {
                e.preventDefault()
                const { input } = e.target
                const counting = e.target.querySelector('h4 > span')

                const [, , , idx] = location.pathname.split('/')
                const result = {  userid: '{{  userData.userid  }}',nickname: '{{  userData.nickname  }}', comment: input.value }   
                const response = await axios.post(`http://localhost:3000/board/comment-write/${idx}`,result, {
                        withCredentials: true,
                    })
                        if (response.data.status) {

                            state = {
                                ...state,
                                replay:response.data.commentList
                            }
                        }
                    commentView()
                }


         


            function updateHandler(e) {
                const idx = parseInt(e.target.parentNode.querySelector('input').value)
            
                const newReply = [...state.replay]
                let index
                for (let i = 0; i < newReply.length; i++) {
                    if (newReply[i].idx === idx) {
                        index = i
                    }
                }

              

                newReply[index].updateFlag = false
           
                state = {
                    ...state,
                    replay: newReply
                }

                commentView()
            }
 
           async function updateSubmitHandler(e) {

                    if (e.keyCode === 13) {

                        const uuid = e.target.parentNode.parentNode.querySelector('input[type=hidden]').value
                        const response = await axios.post(`http://localhost:3000/board/comment-update/${uuid}`, { comment: e.target.value }, {
                            withCredentials: true,
                        })
                       
                        if (response.data.status) {
                            const newReplay = Array.from(state.replay)
                            const i = newReplay.findIndex(f => f.uuid === uuid)
                            newReplay.splice(i, 1, response.data.comment)
                            state = {
                                ...state,
                                replay: newReplay
                            }
                           
                        }
                        commentView()
                    }
                }
 
                  
        </script>
    </div>
<!-- 뷰부분 스크립트  -->
    <script>
        async function view() {
            const [, , , idx] = location.pathname.split('/')
            const subjectBox = document.querySelector('#subject')
            const nicknameBox = document.querySelector('#nickname')
            const contentBox = document.querySelector('#content')
            const imageBox = document.querySelector('#image')
            const hitBox = document.querySelector('#hit')

            const private_chat = document.querySelector('#private_chat')


            const response = await axios.post(`http://localhost:3000/board/view/${idx}`, {
                withCredentials: true,
            })
            if (response.data.status) {
                const { subject, nickname, content, imageName, hit } = response.data.data
               
                const array = JSON.parse(imageName).upload
                let carousel = ''
                for (let i = 0; i < array.length; i++) {
                    const image = array[i];
                    const url = `http://localhost:3000/${image.path.replace('public/', '')}`

                    imageBox.innerHTML += `<div class="image-wrapper"><img src="${url} "/></div>`

                }
                subjectBox.innerHTML = subject
                nicknameBox.innerHTML = nickname
                contentBox.innerHTML = content
                hitBox.innerHTML = `hit : ${hit}`
                private_chat.innerHTML = `<a href="http://localhost:3001/board/private_chat/${nickname}" >1:1채팅</a>`
            }

        }
        view()
    </script>





</body>

</html>