<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오이마켓</title>
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" href="http://localhost:3001/css/board/write.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', ()=>{
            const frm = document.querySelector('#frm_write');
            const main = document.querySelector('#main').value;
            const sub = document.querySelector('#sub').value;
            frm.addEventListener('submit', async (e) => {
                e.preventDefault();
                const subject = document.querySelector('#subject').value;
                const content = document.querySelector('#content').value;
                const files = document.querySelector('#upload').files;
                const formData = new FormData();

                for (let i = 0; i < files.length; i++) {
                    const file = files[i];
                    formData.append('upload', file);
                }

                formData.append('subject', subject);
                formData.append('content', content);
                formData.append('main', main);
                formData.append('sub', sub);

                const option = {
                    "Content-type": "application/json",
                    withCredentials: true,
                    Authorization: '',
                };

                if (files.length < 6) {
                    const response = await axios.post('http://localhost:3000/board/write', formData, option);
                    location.href = ('/');
                } else {
                    alert("이미지의 최대 갯수는 5장입니다.");
                }
            });
        });
    </script>
</head>
<body>
    <h1>글쓰기</h1>
    <form method="post" action="/board/write" id="frm_write" enctype="multipart/form-data">
        <div>
            <span>메인 카테고리 : 
                <select name="main" id="main">
                    <option value="buy">중고거래</option>
                    <option value="friends">동네친구찾기</option>
                    <option value="question">Q&A</option>
                    <option value="ban">신고</option>
                </select>
            </span>
            <span>서브 카테고리 : 
                <select name="sub" id="sub">
                    <option value="a">a</option>
                    <option value="a">a</option>
                    <option value="a">a</option>
                    <option value="a">a</option>
                </select>
            </span>
        </div>
        <div>제목 :
            <input type="text" name="subject" id="subject">
        </div>
        <div>사진 :
            <input type="file" name="upload" id="upload" multiple accept="image/*">
        </div>
        <div>내용 :
            <textarea name="content" id="content" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="글쓰기">
    </form>
</body>
</html>