<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <script type="text/javascript" src="https://unpkg.com/axios@0.26.0/dist/axios.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/admin/category.css">
    <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
    <style>
        @import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
    </style>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', init);
        async function init() {
            const option = {withCredentials:true};
            const categories = document.querySelector('#categories');
            const category = document.querySelector('#category').innerHTML;
            const categoryModify = document.querySelector('#categoryModify').innerHTML;
            const submitBtn = document.querySelector('#submit');
            const add = document.querySelector('#add');
            const modifybtn = document.querySelector('#modifybtn');
            const modify = document.querySelector('#modify');
            const trHead = document.querySelector('#trHead');
            const thDelete = document.querySelector('#delete');
            let template = '';

            submitBtn.style.visibility = 'hidden';
            const response = await axios.post('http://localhost:3000/api/admin/category', null, option);
            response.data.forEach(v=>{
                template += category.replace('{code}', v.code)
                                    .replace('{main}', v.main)
                                    .replace('{sub}', v.sub);
            });
            categories.innerHTML = template;

            add.addEventListener('submit', async (e)=>{
                e.preventDefault();
                const {main, sub} = e.target;
                const body = {
                    main:main.value,
                    sub:sub.value
                };
                const response = await axios.post('http://localhost:3000/api/admin/categoryAdd', body, option);
                let arr = response.data;
                if (response.data === 'duplicate') {
                    alert('이미 존재하는 카테고리입니다.');
                } else {
                    const main2 = arr[0];
                    const sub2 = arr[1];
                    alert(`
                            카테고리가 추가되었습니다.\n
                            메인 카테고리 : ${main2}
                            서브 카테고리 : ${sub2}`);
                    init();
                }
            });

            let cnt = 1;
            modifybtn.addEventListener('click', modifyFunc);
            async function modifyFunc() {
                if (cnt%2 === 1) {
                    submitBtn.style.visibility = 'visible';
                    trHead.innerHTML += thDelete.innerHTML;
                    const response = await axios.post('http://localhost:3000/api/admin/category', null, option);
                    let num = 1;
                    template = '';
                    response.data.forEach(v=>{
                        template += categoryModify.replaceAll('{num}', num)
                                                .replace('{code}', v.code)
                                                .replace('{main}', v.main)
                                                .replace('{sub}', v.sub);
                        num++;
                    });
                    categories.innerHTML = template;

                    const del = document.querySelectorAll('.del');
                    for (let i = 0; i < del.length; i++) {
                        del[i].addEventListener('click', async (e)=>{
                            e.preventDefault();
                            let delNum = del[i].id.split('l')[1];
                            const body = {
                                num:delNum
                            };
                            const response = await axios.post('http://localhost:3000/api/admin/categoryDelete', body, option);
                            modifyFunc();
                        });
                    }
                } else {
                    submitBtn.style.visibility = 'hidden';
                    template = '';
                    const response = await axios.post('http://localhost:3000/api/admin/category', null, option);
                    response.data.forEach(v=>{
                        template += category.replace('{code}', v.code)
                                            .replace('{main}', v.main)
                                            .replace('{sub}', v.sub);
                    });
                    categories.innerHTML = template;
                    trHead.innerHTML = `<th>Code</th>
                                        <th>Main Category</th>
                                        <th>Sub Category</th>`;
                }
                cnt++;
            };

            num = 1;
            modify.addEventListener('submit', async (e)=>{
                e.preventDefault();
                const modifyLength = e.target.innerHTML.match(/mainModify/g).length;
                mainTarget = e.target.main;
                subTarget = e.target.sub;
                const mainModify = [];
                const subModify = [];
                for (let i = 0; i < modifyLength; i++) {
                    mainModify.push(mainTarget[i].value);
                    subModify.push(subTarget[i].value);
                }
                const body = {
                    main:mainModify,
                    sub:subModify
                };
                const response = await axios.post('http://localhost:3000/api/admin/categoryModify', body, option);
                init();
            });
        };
    </script>
</head>
<body>
    <h1><a href="/admin/category">Categories</a></h1>
    <div id="menu">
        <a href="/admin">Home</a>
        <button id="modifybtn">Modify</button>
    </div>
    <form method="post" id="modify" action="http://localhost:3000/api/admin/categoryModify">
        <input type="submit" id="submit" value="Submit">
        <table cellspacing="0" cellpadding="0" border="1">
            <thead>
                <tr id="trHead">
                    <th>Code</th>
                    <th>Main Category</th>
                    <th>Sub Category</th>
                    <template id="delete">
                        <th>Delete</th>
                    </template>
                </tr>
            </thead>
            <tbody id="categories"></tbody>
        </table>
    </form>

    <form method="post" id="add" action="http://localhost:3000/api/admin/categoryAdd">
        <strong>Add</strong>
        <div><strong>Main Category :</strong><input type="text" name="main" id="main" placeholder="Main Category"></div>
        <div><strong>Sub Category :</strong><input type="text" name="sub" id="sub" placeholder="Sub Category"></div>
        <input type="submit" id="addBtn" value="Submit">
    </form>

    <template id="category">
        <tr>
            <td>{code}</td>
            <td>{main}</td>
            <td>{sub}</td>
            <template id="del">
                <input type="checkbox" name="delete" id="delete{num}">
            </template>
        </tr>
    </template>

    <template id="categoryModify">
        <tr>
            <td>{code}</td>
            <td><input type="text" name="main" id="mainModify{num}" value="{main}"></td>
            <td><input type="text" name="sub" id="subModify{num}" value="{sub}"></td>
            <td><button name="del" class="del" id="del{num}">Delete</button></td>
        </tr>
    </template>
</body>
</html>