<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <script type="text/javascript" src="https://unpkg.com/axios@0.26.0/dist/axios.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/admin/stats.css">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
    <link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', async ()=>{
            const option = {withCredentials:true};
            const menu = document.querySelector('#menu');
            let menuIn = document.querySelector('#menuIn').innerHTML;
            const dayCounts = document.querySelector('#dayCounts');
            let dayCount = document.querySelector('#dayCount').innerHTML;
            const boards = document.querySelector('#boards');
            const board = document.querySelector('#board').innerHTML;
            const tagBox = document.querySelector('#tagBox');

            const response = await axios.post('http://localhost:3000/api/admin/stats/hitNgood', null, option);
            const {hit, good, scrap} = response.data[0];
            menuIn = menuIn.replace('{hits}', hit)
                        .replace('{goods}', good)
                        .replace('{scrap}', scrap);
            menu.innerHTML = menuIn;

            const response2 = await axios.post('http://localhost:3000/api/admin/stats/dayCount', null, option);
            let tmp = '';
            for (let i = 0; i < 24; i++) {
                if (i < 10) {
                    tmp += dayCount.replaceAll('{hour}', '0'+i)
                                    .replaceAll('{idx1}', i*7+1)
                                    .replaceAll('{idx2}', i*7+2)
                                    .replaceAll('{idx3}', i*7+3)
                                    .replaceAll('{idx4}', i*7+4)
                                    .replaceAll('{idx5}', i*7+5)
                                    .replaceAll('{idx6}', i*7+6)
                                    .replaceAll('{idx7}', i*7+7)
                                    .replaceAll('{sun}', response2.data[i].sun)
                                    .replaceAll('{mon}', response2.data[i].mon)
                                    .replaceAll('{tue}', response2.data[i].tue)
                                    .replaceAll('{wed}', response2.data[i].wed)
                                    .replaceAll('{thu}', response2.data[i].thu)
                                    .replaceAll('{fri}', response2.data[i].fri)
                                    .replaceAll('{sat}', response2.data[i].sat);
                } else {
                    tmp += dayCount.replaceAll('{hour}', i)
                                    .replaceAll('{idx1}', i*7+1)
                                    .replaceAll('{idx2}', i*7+2)
                                    .replaceAll('{idx3}', i*7+3)
                                    .replaceAll('{idx4}', i*7+4)
                                    .replaceAll('{idx5}', i*7+5)
                                    .replaceAll('{idx6}', i*7+6)
                                    .replaceAll('{idx7}', i*7+7)
                                    .replaceAll('{sun}', response2.data[i].sun)
                                    .replaceAll('{mon}', response2.data[i].mon)
                                    .replaceAll('{tue}', response2.data[i].tue)
                                    .replaceAll('{wed}', response2.data[i].wed)
                                    .replaceAll('{thu}', response2.data[i].thu)
                                    .replaceAll('{fri}', response2.data[i].fri)
                                    .replaceAll('{sat}', response2.data[i].sat);
                }
            }
            dayCounts.innerHTML = tmp;

            const td = document.querySelectorAll('#dayCounts > tr > td');
            for (let i = 0; i < 192; i++) {
                if (i%8 === 0) {
                    td[i].setAttribute('class', 'on0');
                    continue;
                }
                if (td[i].innerHTML.split('>')[1].split('<')[0] == 1) {
                    td[i].setAttribute('class', 'on1');
                } else if (td[i].innerHTML.split('>')[1].split('<')[0] == 2) {
                    td[i].setAttribute('class', 'on2');
                } else if (td[i].innerHTML.split('>')[1].split('<')[0] == 3) {
                    td[i].setAttribute('class', 'on3');
                } else if (td[i].innerHTML.split('>')[1].split('<')[0] == 4) {
                    td[i].setAttribute('class', 'on4');
                } else if(td[i].innerHTML.split('>')[1].split('<')[0] == 5) {
                    td[i].setAttribute('class', 'on5');
                }
            }

            let tagTemplate = '';
            const response3 = await axios.post('http://localhost:3000/api/admin/stats/tag', null, option);
            console.log(response3.data)
            tagTemplate = tagBox.innerHTML.replace('{tagFirst}', response3.data[0].tag)
                                .replace('{one}', response3.data[0].cnt)
                                .replace('{tagSecond}', response3.data[1].tag)
                                .replace('{two}', response3.data[1].cnt)
                                .replace('{tagThird}', response3.data[2].tag)
                                .replace('{three}', response3.data[2].cnt)
                                .replace('{tagFourth}', response3.data[3].tag)
                                .replace('{four}', response3.data[3].cnt)
                                .replace('{tagFifth}', response3.data[4].tag)
                                .replace('{five}', response3.data[4].cnt);
            tagBox.innerHTML = tagTemplate;
        });
    </script>
</head>
<body>
    <h1><a href="/admin/stats">Stats</a></h1>
    <div id="menu"></div>
    <table id="excel" cellspacing="0" cellpadding="0" border="1">
        <thead>
            <tr>
                <th>시간/요일</th>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody id="dayCounts"></tbody>
    </table>

    <div id="tagBox">
        <div>👑해시태그 순위👑</div>
        <div id="tags">
            <span>🥇 : {tagFirst} ({one}회)</span>
            <span>🥈 : {tagSecond} ({two}회)</span>
            <span>🥉 : {tagThird} ({three}회)</span>
            <span>4위 : {tagFourth} ({four}회)</span>
            <span>5위 : {tagFifth} ({five}회)</span>
        </div>
    </div>

    <template id="board">
        <tr>
            <td>{idx}</td>
            <td>{main}</td>
            <td>{sub}</td>
            <td class="subject"></td>
            <td>{nickname}</td>
            <td>{date}</td>
            <td>{hit}</td>
            <td>{good}</td>
            <td>{active}</td>
        </tr>
    </template>

    <template id="dayCount">
        <tr>
            <td>{hour}:00 ~ {hour}:59</td>
            <td><a href="/admin/stats/view/{idx1}">{sun}</a></td>
            <td><a href="/admin/stats/view/{idx2}">{mon}</a></td>
            <td><a href="/admin/stats/view/{idx3}">{tue}</a></td>
            <td><a href="/admin/stats/view/{idx4}">{wed}</a></td>
            <td><a href="/admin/stats/view/{idx5}">{thu}</a></td>
            <td><a href="/admin/stats/view/{idx6}">{fri}</a></td>
            <td><a href="/admin/stats/view/{idx7}">{sat}</a></td>
        </tr>
    </template>

    <template id="menuIn">
        <a href="/admin">Home</a>
        <span><strong>Total Hit : </strong>{hits}</span>
        <span><strong>Total Good : </strong>{goods}</span>
        <span><strong>Total Scrap : </strong>{scrap}</span>
    </template>
</body>
</html>