<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오이마켓 - 회원가입</title>
    <link rel="shortcut icon" href="../favicon.png">
    <link type="text/css" rel="stylesheet" href="http://localhost:3001/css/user/join.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', async () => {

            const option = {
                'Content-type':'application/json',
                withCredentials:true,
            }

            const response = await axios.post('http://localhost:3000/user/auth',null,option)
            const {errno} = response.data
            if(errno == 1) {
                alert('로그아웃 먼저 하고오세요.')
                location.href = 'http://localhost:3001/'
            }



            const frm = document.querySelector('#join_frm');
            const emailSelect = document.querySelector('#email_select');
            emailSelect.addEventListener('click', (e) => {
                let email2Value = document.querySelector('#email2');
                if (e.target.value !== '직접 입력') email2Value.value = e.target.value;
                else email2Value.value = '';
            });
            frm.addEventListener('submit', async (e) => {
                e.preventDefault();
                const userid = document.querySelector('#userid').value;
                const userpw = document.querySelector('#userpw').value;
                const userimage = document.querySelector('#userimage').files[0];
                const name = document.querySelector('#name').value;
                const nickname = document.querySelector('#nickname').value;
                const year = document.querySelector('#year').value;
                const month = document.querySelector('#month').value;
                const day = document.querySelector('#day').value;
                const address = document.querySelector('#address').value;
                const gender = document.querySelector('input[name="gender"]:checked').value;
                const tel1= document.querySelector('#tel1').value;
                const tel2 = document.querySelector('#tel2').value;
                const tel3 = document.querySelector('#tel3').value;
                const phone1 = document.querySelector('#phone1').value;
                const phone2 = document.querySelector('#phone2').value;
                const phone3 = document.querySelector('#phone3').value;
                const email1 = document.querySelector('#email1').value;
                const email2 = document.querySelector('#email2').value;
                const intro = document.querySelector('#intro').value;

                const email = email1 + '@' + email2;
                const birth = year + month + day;
                const tel = tel1 + tel2 + tel3;
                const phone = phone1 + phone2 + phone3;

                const formData = new FormData();
                formData.append('userimage', userimage);
                formData.append('userid', userid);
                formData.append('userpw', userpw);
                formData.append('name', name);
                formData.append('nickname', nickname);
                formData.append('birth', birth);
                formData.append('address', address);
                formData.append('gender', gender);
                formData.append('tel', tel);
                formData.append('phone', phone);
                formData.append('email', email);
                formData.append('intro', intro);

                try{
                    if(userimage == undefined || userid=='' || userpw=='' || name=='' || nickname=='' || year=='' || month=='' ||
                    day=='' || gender=='' || email1=='' || email2=='' || intro=='') throw new Error

                    const body = formData

                    const response = await axios.post('http://localhost:3000/user/join',body,option)
                    const {errno} = response.data

                    if(errno == 1) alert('닉넴이나 아이디 중복이에요')
                    if(errno == 2) alert('생년월일 다시확인하세요')
                    if(errno == 0) location.href='http://localhost:3001/user/welcome'
                } catch(e){
                    alert('빈값 다 채우세요오')
                }
            });
        });
    </script>
</head>
<body>
    <header>
        <h1>
            <a href="/">오세요~ 이쪽이에요!</a>
        </h1>
        <h2>오이마켓 회원가입</h2>
    </header>
    <form method="post" action="/user/join" id="join_frm" enctype="multipart/form-data">
        <ul>
            <li>
                <div><strong>아이디</strong></div>
                <input type="text" name="userid" id="userid" minlength="4" maxlength="10" placeholder="아이디 입력 (4~10글자)">
            </li>
            <li>
                <div><strong>비밀번호</strong></div>
                <input type="password" name="userpw" id="userpw" minlength="4" maxlength="10" placeholder="비밀번호 입력 (4~10글자)">
            </li>
            <li>
                <div><strong>프로필 사진</strong></div>
                <input type="file" name="userimage" id="userimage">
            </li>
            <li>
                <div><strong>이름</strong></div>
                <input type="text" name="name" id="name" minlength="2" maxlength="10" placeholder="이름 입력 (1~5글자)">
            </li>
            <li>
                <div><strong>닉네임</strong></div>
                <input type="text" name="nickname" id="nickname" minlength="2" maxlength="10" placeholder="닉네임 입력 (2~10글자)">
            </li>
            <li>
                <div><strong>생년월일</strong></div>
                <select id="year" name="year">
                    <option value="1985">1985년</option>
                    <option value="1986">1986년</option>
                    <option value="1987">1987년</option>
                    <option value="1988">1988년</option>
                    <option value="1989">1989년</option>
                    <option value="1990">1990년</option>
                    <option value="1991">1991년</option>
                    <option value="1992">1992년</option>
                    <option value="1993">1993년</option>
                    <option value="1994">1994년</option>
                    <option value="1995">1995년</option>
                    <option value="1996">1996년</option>
                    <option value="1997">1997년</option>
                    <option value="1998">1998년</option>
                    <option value="1999">1999년</option>
                    <option value="2000">2000년</option>
                    <option value="2001">2001년</option>
                    <option value="2002">2002년</option>
                    <option value="2003">2003년</option>
                    <option value="2004">2004년</option>
                    <option value="2005">2005년</option>
                    <option value="2006">2006년</option>
                    <option value="2007">2007년</option>
                    <option value="2008">2008년</option>
                    <option value="2009">2009년</option>
                    <option value="2010">2000년</option>
                    <option value="2011">2011년</option>
                    <option value="2012">2012년</option>
                    <option value="2013">2013년</option>
                    <option value="2014">2014년</option>
                    <option value="2015">2015년</option>
                </select>
                <select id="month" name="month">
                    <option value="01">1월</option>
                    <option value="02">2월</option>
                    <option value="03">3월</option>
                    <option value="04">4월</option>
                    <option value="05">5월</option>
                    <option value="06">6월</option>
                    <option value="07">7월</option>
                    <option value="08">8월</option>
                    <option value="09">9월</option>
                    <option value="10">10월</option>
                    <option value="11">11월</option>
                    <option value="12">12월</option>
                </select>
                <select id="day" name="day">
                    <option value="01">1일</option>
                    <option value="02">2일</option>
                    <option value="03">3일</option>
                    <option value="04">4일</option>
                    <option value="05">5일</option>
                    <option value="06">6일</option>
                    <option value="07">7일</option>
                    <option value="08">8일</option>
                    <option value="09">9일</option>
                    <option value="10">10일</option>
                    <option value="11">11일</option>
                    <option value="12">12일</option>
                    <option value="13">13일</option>
                    <option value="14">14일</option>
                    <option value="15">15일</option>
                    <option value="16">16일</option>
                    <option value="17">17일</option>
                    <option value="18">18일</option>
                    <option value="19">19일</option>
                    <option value="20">20일</option>
                    <option value="21">21일</option>
                    <option value="22">22일</option>
                    <option value="23">23일</option>
                    <option value="24">24일</option>
                    <option value="25">25일</option>
                    <option value="26">26일</option>
                    <option value="27">27일</option>
                    <option value="28">28일</option>
                    <option value="29">29일</option>
                    <option value="30">30일</option>
                    <option value="31">31일</option>
                </select>
            </li>
            <li>
                <div><strong>주소</strong></div>
                <input type="text" name="address" id="address" minlength="4" id="address" placeholder="주소 입력">
            </li>
            <li id="gender">
                <div><strong>성별</strong></div>
                <input type="radio" name="gender" id="genderM" value="M"><label for="genderM">남자</label>
                <input type="radio" name="gender" id="genderF" value="F" checked="checked"><label for="genderF">여자</label>
            </li>
            <li id="tel">
                <div><strong>집전화</strong></div>
                <input type="text" name="tel1" id="tel1" minlength="2" maxlength="3"><strong> -</strong>
                <input type="text" name="tel2" id="tel2" minlength="3" maxlength="4"><strong> -</strong>
                <input type="text" name="tel3" id="tel3" minlength="4" maxlength="4">
            </li>
            <li id="phone">
                <div><strong>휴대폰번호</strong></div>
                <input type="text" name="phone1" id="phone1" minlength="3" maxlength="3"><strong> -</strong>
                <input type="text" name="phone2" id="phone2" minlength="4" maxlength="4"><strong> -</strong>
                <input type="text" name="phone3" id="phone3" minlength="4" maxlength="4">
            </li>
            <li id="email">
                <div><strong>E-mail</strong></div>
                <input type="text" name="email1" id="email1" minlength="4"> @
                <input type="text" name="email2" id="email2" minlength="4">
                <select id="email_select">
                    <option id="naver.com">naver.com</option>
                    <option id="hanmail.net">hanmail.net</option>
                    <option id="gmail.com">gmail.com</option>
                    <option id="self">직접 입력</option>
                </select>
            </li>
            <li id="introBox">
                <div><strong>소개글</strong></div>
                <textarea name="intro" id="intro" cols="30" rows="10" minlength="4" placeholder="소개를 입력해주세요."></textarea>
            </li>
        </ul>
        <div id="submitBox">
            <a href="/">뒤로 가기</a>
            <input type="submit" id="submit" value="회원가입">
        </div>
    </form>
</body>
</html>