<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오이마켓 - 약관 동의</title>
    <link rel="shortcut icon" href="../favicon.png">
    <link type="text/css" rel="stylesheet" href="http://localhost:3001/css/user/kakao_agree.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {
            const check1 = document.querySelector('#check1');
            const check2 = document.querySelector('#check2');
            const check3 = document.querySelector('#check3');
            const agree = document.querySelector('#agree');
            const agreeAll = document.querySelector('#agree_all');

            agreeAll.addEventListener('click', (e) => {
                e.preventDefault();
                check1.checked = true;
                check2.checked = true;
                check3.checked = true;
            });

            agree.addEventListener('click', (e) => {
                e.preventDefault();
                if(check1.checked === true && check2.checked === true && check3.checked === true) {
                    location.href = agree.href;
                } else {
                    alert('모두 동의해주세요.');
                }
            });
        });
    </script>
</head>
<body>
    <div id="all">
        <div id="wrap">
            <div id="title">
                <h2>
                    회원가입 페이지 입니다. 약관을 확인하고 동의해주세요.
                </h2>
                <br>
                <ul>
                    <li>
                        저희 52마켓에 오신 것을 진심으로 환영합니다.
                    </li>
                    <li>
                        회원가입을 위해서 아래 52마켓 이용약관 · 개인정보 수집 및 이용에 대한 안내를 읽고 동의해 주세요.
                    </li>
                    <li>
                        체크박스 체크 후 아래의 확인 버튼을 클릭하시면 동의 절차가 완료됩니다.
                    </li>
                </ul>
            </div>
            <div id="content">
                <ul>
                    <div class="agree_div">
                        <h2>
                            제1조 목적
                        </h2>
                        <br>
                        본 약관은 주식회사 jenny_slaves가 운영하는 중고거래 사이트 52마켓 (www.52market.com)과 52마켓에서 제공하는 관련 서비스의 이용에 관하여 회사와 회원의 권리, 의무 및 기타 필요한 사항을 규정함을 목적으로 합니다.
                        <br>
                        <br>
                        <h2>
                            제2조 용어의 정의
                        </h2>
                        <br>
                        <h3>
                            본 약관에서 사용되는 주요한 용어의 정의는 다음과 같습니다.
                        </h3>
                        <br>
                        회사 : 오이마켓을 운영하는 주식회사 오이마켓을 말합니다.
                        서비스 : 구현되는 단말기(PC, TV, 휴대형단말기 등의 각종 유무선 장치를 포함)와 상관없이 오이마켓과 오이마켓에서 제공하는 게임 및 관련 서비스를 말합니다.
                        회원 : 서비스 이용을 위하여 본 약관에 동의함으로써 회사와 이용계약을 체결한 자를 말합니다.
                        회원 아이디(ID) : 회원의 식별과 회원의 서비스 이용을 위하여 회원이 선정하고 회사가 승인하는 이메일 형식의 문자 또는 숫자의 조합을 말합니다. 단, 본 약관의 시행 이전에 회사가 승인한 경우에는 형식이 제한되지 않습니다.
                        비밀번호 : 회원 아이디(ID)를 사용하는 자가 회사와 이용계약을 체결한 회원 본인임을 확인하고, 회원의 개인정보를 보호하기 위하여 회원이 정한 문자와 숫자, 특수문자의 조합을 말합니다.
                        프리미엄 서비스 : 회사가 유료로 제공하는 각종 디지털 콘텐츠 서비스를 말합니다.
                        오이마켓캐쉬 : 오이마켓 내에서 프리미엄 서비스를 이용 또는 구매하는데 사용할 수 있는 인터넷상의 사이버머니를 말합니다.
                    </div>
                    <div id="agree_div2">
                        <input type="checkbox" name="check" id="check1" value="check1">
                        <label for="check1">
                            <span> 개인정보 수집 및 이용에 대한 안내를 확인하였으며 서비스 이용을 위해 동의합니다.</span>
                        </label>
                    </div>
                    <br>
                    <br>
                    <div class="agree_div">
                        <h2>
                            개인정보의 수집 및 이용목적
                        </h2>
                        <br>
                        <h3>
                            회사는 수집한 개인정보를 다음의 목적으로 활용합니다.
                        </h3>
                        <br>
                        서비스 제공에 관한 계약 이행 및 프리미엄(유료) 서비스 제공에 따른 요금정산
                        콘텐츠 제공, 프리미엄(유료) 서비스 이용에 대한 과금, 상품 구매에 따른 요금 정산(결제, 환불), 요금 추심, 상품 구매 및 서비스 이용에 따른 본인확인, 물품배송 또는 청구서 발송
                        회원 및 이용자 관리
                        회원제 서비스 이용에 따른 본인확인, 개인식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 중복가입확인, 가입의사 확인, 연령확인, 만 14세 미만 아동 개인정보 수집 시 법정대리인 동의 여부 확인, 만 18세 미만 아동 및 청소년의 회원가입 시 법정대리인의 동의 여부 확인 및 법정대리인 본인확인, 분쟁 조정을 위한 기록보존, 불만처리 등 민원처리, 고지사항 전달
                        마케팅 및 광고 활용
                        신규 서비스 개발 및 맞춤 서비스 제공, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 서비스 유효성 확인, 접속 빈도 파악, 회원 서비스 이용에 대한 통계, 이벤트 및 광고성 정보와 참여기회 제공
                        자동 친구 추가 및 자동 친구 등록 기능의 제공
                        이용자의 전화번호 및 이용자의 모바일 기기 내의 주소록에 저장된 제3자의 전화번호를 수집 · 이용하여 자동 친구 추가 및 등록 기능 제공
                        임시 회원(게스트 계정) 관리
                        모바일 서비스 이용에 따른 불만처리 및 고객상담 등 민원 처리
                    </div>
                    <div id="agree_div2">
                        <input type="checkbox" name="check" id="check2" value="check2">
                        <label for="check2">
                            <span> 개인정보 수집 및 이용에 대한 안내를 확인하였으며 서비스 이용을 위해 동의합니다.</span>
                        </label>
                    </div>
                    <br>
                    <br>
                    <div class="agree_div" id="third_agree">
                        <h2>
                            수집한 개인정보의 보유 및 이용기간
                        </h2>
                        <br>
                        이용자의 개인정보는 개인정보의 수집목적 또는 제공받은 목적이 달성되면 파기됩니다. 회원이 회원탈퇴를 하거나 개인정보 허위기재로 인해 회원 ID 삭제 처분을 받은 경우 수집된 개인정보는 완전히 삭제되며 어떠한 용도로도 이용할 수 없도록 처리됩니다. 다만, 도용으로 인한 원치 않는 회원탈퇴 등의 피해가 발생할 우려가 있으므로 탈퇴신청 후 7일의 유예기간동안 개인정보를 임시 보관하게 되며, 이는 이용 해지 시 이용자에게 고지됩니다. 7일 후에는 회사의 회원정보 데이터베이스(DB)에서 완전히 삭제됩니다.
                        또한 명의도용 등 분쟁 발생시 본인확인을 위해 제출 받은 신분증 사본은 본인확인 후 즉시 파기합니다. 만 18세 미만 아동 및 청소년의 법정대리인 정보는 해당 아동 및 청소년이 성년에 도달하거나 해당 아동 및 청소년의 회원탈퇴에 따른 개인정보 파기 시 함께 파기됩니다.
                        회사는 개인정보보호법 및 동법 시행령에 따라 연속하여 최근 1년 동안 서비스를 이용하지 않은 계정을 휴면 계정으로 전환합니다. 회사는 휴면 계정의 개인정보를 파기하거나, 별도로 분리하여 안전하게 보관하는 조치를 취할 수 있습니다. 이 경우, 조치일 최소 30일 전에 파기 또는 개인정보 분리보관 등 필요한 조치가 취해진다는 사실을 이용자에게 전달하도록 하겠습니다. 또한 분리보관 후 2년간 서비스에 접속하지 않으실 경우 해당 계정을 삭제합니다.
                        이용자의 개인정보는 제7조 제1항에 따라 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기되나, 아래 각 항목에 해당하는 경우에는 명시한 기간 동안 보관할 수 있으며, 그 외 다른 목적으로는 사용하지 않습니다.
                        (1) 불건전한 서비스 이용으로 서비스에 물의를 일으킨 이용자의 경우 사법기관 수사의뢰를 하거나 다른 회원을 보호할 목적으로 1년간 해당 개인정보를 보관할 수 있습니다.
                        (2) 관계법령의 규정에 의하여 보관할 필요가 있는 경우 회사는 수집 및 이용 목적 달성 후에도 관계법령에서 정한 일정 기간 동안 회원의 개인정보를 보관할 수 있습니다.

                        계약 또는 청약철회 등에 관한 기록
                        - 보유 기간 : 5년
                        - 법적 근거 : 전자상거래등에서의 소비자보호에 관한 법률
                        대금결제 및 재화의 공급에 관한 기록
                        - 보유 기간 : 5년
                        - 법적 근거 : 전자상거래등에서의 소비자보호에 관한 법률
                        소비자의 불만 또는 분쟁처리에 관한 기록
                        - 보유 기간 : 3년
                        - 법적 근거 : 전자상거래등에서의 소비자보호에 관한 법률
                        표시, 광고에 관한 기록
                        - 보유 기간 : 6개월
                        - 법적 근거 : 전자상거래등에서의 소비자보호에 관한 법률
                        웹사이트 방문 기록
                        - 보유 기간 : 3개월
                        - 법적 근거 : 통신비밀보호법
                    </div>
                    <div id="agree_div2">
                        <input type="checkbox" name="check" id="check3" value="check3">
                        <label for="check3">
                            <span> 개인정보 수집 및 이용에 대한 안내를 확인하였으며 서비스 이용을 위해 동의합니다.</span>
                        </label>
                    </div>
                    <div id="agree_all">
                        <a>모든 약관에 동의합니다.</a>
                    </div>
                </ul>
            </div>
            <div id="back">
                <a href="/">뒤로 가기</a>
                <a href="/user/kakaoJoin?code={{code}}" id="agree">회원가입</a>
            </div>
            <div id="footer">
                <div id="logo">
                    <img src="/user/logo.png">
                </div>
                <div id="footer_info">
                    <div id="intro">
                        <span>회사소개</span>
                        <span>이용약관</span>
                        <span>개인정보처리방침</span>
                        <span>청소년보호정책</span>
                        <span>고객센터</span>
                        <span>제휴</span>
                    </div>
                    <ul id="intro2">
                        <li>
                            (주)오이마켓 대표이사 이지영 강원도 강릉시 바람드리 5길 6 오이마켓 천호타워
                        </li>
                        <li>
                            Tel : 1600-8870  Fax : (031)8039-1692  E-mail : help@help.52market.com  호스팅서비스 사업자 : (주)오이마켓
                        </li>
                        <li>
                            사업자등록번호 121-97-18249 중고거래업 신고번호 제 2010-서울강남-0528호 사업자정보확인
                        </li>
                        <li>
                            ⓒ OE Market All rights reserved.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>