<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오이마켓 - 프로필 수정</title>
    <link rel="shortcut icon" href="../favicon.png">
    <link type="text/css" rel="stylesheet" href="http://localhost:3001/css/user/profileUpdate.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', async ()=>{
            const profile = document.querySelector('#profile');
            const profileUpdate = document.querySelector('#profileUpdate').innerHTML;
            const option = {
                "Content-type":"application/json",
                withCredentials:true,
            };
            const response = await axios.post('http://localhost:3000/user/profile', null, option);
            const { level, userid, userimage, name, nickname, userpw,
                    birth, address, gender, tel, phone, email, intro,
                    point, active, date } = response.data;
            let tel11, tel22, tel33;
            if (tel.substring(0,2) === '02') {
                tel11 = tel.substring(0,2);
                tel22 = tel.substring(2,6);
                tel33 = tel.substring(6,10);
            } else {
                tel11 = tel.substring(0,3);
                tel22 = tel.substring(3,6);
                tel33 = tel.substring(6,10);
            }
            const phone11 = phone.substring(0,3);
            const phone22 = phone.substring(3,7);
            const phone33 = phone.substring(7,11);

            let email11 = email.split('@')[0];
            let email22 = email.split('@')[1];

            let template = '';
            template = profileUpdate.replace('{level}', level)
                                    .replace('{userpw}', userpw)
                                    .replace('{userid}', userid)
                                    .replaceAll('{userimage}', userimage)
                                    .replace('{name}', name)
                                    .replace('{nickname}', nickname)
                                    .replace('{birth}', birth)
                                    .replace('{address}', address)
                                    .replace('{gender}', gender)
                                    .replace('{tel1}', tel11)
                                    .replace('{tel2}', tel22)
                                    .replace('{tel3}', tel33)
                                    .replace('{phone1}', phone11)
                                    .replace('{phone2}', phone22)
                                    .replace('{phone3}', phone33)
                                    .replace('{email1}', email11)
                                    .replace('{email2}', email22)
                                    .replace('{intro}', intro)
                                    .replace('{point}', point)
                                    .replace('{active}', active)
                                    .replace('{date}', date.substring(0,10));
            profile.innerHTML = template;

            const profilefrm = document.querySelector('#profilefrm');
            const M = document.querySelector('#genderM');
            const F = document.querySelector('#genderF');

            if (gender === "M") M.checked = true;
            if (gender === "F") F.checked = true;

            const default_birth = birth.substring(0,10);
            const emailSelect = document.querySelector('#email_select');
            emailSelect.addEventListener('click', (e) => {
                const email2Value = document.querySelector('#email2');
                email2Value.value = e.target.value;
            });

            profilefrm.addEventListener('submit', async (e)=>{
                e.preventDefault();
                const userpw1 = e.target.userpw.value;
                const userimage1 = e.target.userimage.files[0];
                const name1 = e.target.name.value;
                const nickname1 = e.target.nickname.value;

                const year = e.target.year.value;
                const month = e.target.month.value;
                const day = e.target.day.value;
                const birth = year + month + day;

                const address1 = e.target.address.value;
                const gender1 = e.target.gender.value;

                const tel1 = e.target.tel1.value;
                const tel2 = e.target.tel2.value;
                const tel3 = e.target.tel3.value;
                const tel11 = tel1 + tel2 + tel3;

                const phone1 = e.target.phone1.value;
                const phone2 = e.target.phone2.value;
                const phone3 = e.target.phone3.value;
                const phone11 = phone1 + phone2 + phone3;

                const email1 = e.target.email1.value;
                const email2 = e.target.email2.value;
                const email11 = email1 + '@' + email2;

                const intro1 = e.target.intro.value;
                
                const formData = new FormData();
                formData.append('userimage', userimage1);
                formData.append('userpw', userpw1);
                formData.append('name', name1);
                formData.append('nickname', nickname);
                formData.append('birth', birth);
                formData.append('address', address1);
                formData.append('gender', gender1);
                formData.append('tel', tel11);
                formData.append('phone', phone11);
                formData.append('email', email11);
                formData.append('intro', intro1);

                const body = formData;
                const response2 = await axios.post('http://localhost:3000/user/profileUpdate', body, option);

                if (response2.data.err === 1062) {
                    alert('닉네임이 중복됩니다.');
                } else {
                    alert(`회원정보가 수정되었습니다.`);
                    location.href = 'http://localhost:3001/user/profile';
                }
            });
            const resign = document.querySelector('#resign');
            resign.addEventListener('click', async (e) => {
                e.preventDefault();
                const option = {
                    "Content-type":"application/json",
                    withCredentials:true,
                };
                const resignResponse = await axios.post('http://localhost:3000/user/resign', null, option);
                alert('회원 탈퇴가 완료되었습니다.');
                location.href = 'http://localhost:3001';
            });
        });
    </script>
</head>
<body>
    <header>
        <h1>
            오세요~ 이쪽이에요!
        </h1>
        <h2>오이마켓 프로필 수정</h2>
    </header>
    <div id="profile"></div>
    <template id="profileUpdate">
        <form method="post" action="http://localhost:3000/user/profileUpdate" id="profilefrm" enctype="multipart/form-data">
            <ul>
                <li>
                    <strong>아이디 :</strong>
                    <span id="userid">{userid}</span>
                </li>
                <li>
                    <div><strong>비밀번호</strong></div>
                    <input type="password" value="{userpw}" name="userpw" id="userpw" minlength="1" maxlength="10">    
                </li>
                <li>
                    <div><strong>사진</strong></div>
                    <img src="{userimage}" width="80px" height="80px" style="border-radius: 40px;">
                    <input type="file" value="{userimage}" name="userimage" id="userimage" minlength="3" maxlength="10">       
                </li>
                <li>
                    <div><strong>이름</strong></div>
                    <input type="text" value="{name}" name="name" id="name" minlength="1" maxlength="10">
                </li>
                <li>
                    <div><strong>닉네임</strong></div>
                    <input type="text" value="{nickname}" name="nickname" id="nickname" maxlength="10">
                </li>
                <li>
                    <div><strong>생년월일</strong></div>
                    <select id="year">
                        <option value="1999">1999년</option>
                        <option value="2000">2000년</option>
                        <option value="2001">2001년</option>
                        <option value="2002">2002년</option>
                    </select>
                    <select id="month">
                        <option value="01">1월</option>
                        <option value="02">2월</option>
                    </select>
                    <select id="day">
                        <option value="01">1일</option>
                        <option value="02">2일</option>
                        <option value="03">3일</option>
                    </select>
                </li>
                <li>
                    <div><strong>주소</strong></div>
                    <input type="text" value="{address}" name="address" id="address">
                </li>
                <li id="gender">
                    <div><strong>성별</strong></div>
                    <input type="radio" name="gender" value="M" id="genderM">
                    <label for="genderM">남자</label>
                    <input type="radio" name="gender" value="F" id="genderF">
                    <label for="genderM">여자</label>
                </li>
                <li id="tel">
                    <div><strong>집전화</strong></div>
                    <input type="text" value="{tel1}" name="tel" id="tel1" minlength="2" maxlength="3"> -
                    <input type="text" value="{tel2}" name="tel" id="tel2" minlength="3" maxlength="4"> -
                    <input type="text" value="{tel3}" name="tel" id="tel3" minlength="4" maxlength="4">
                </li>
                <li id="phone">
                    <div><strong>휴대폰번호</strong></div>
                    <input type="text" value="{phone1}" name="phone" id="phone1" minlength="3" maxlength="3"> -
                    <input type="text" value="{phone2}" name="phone" id="phone2" minlength="4" maxlength="4"> -
                    <input type="text" value="{phone3}" name="phone" id="phone3" minlength="4" maxlength="4">

                </li>
                <li id="email">
                    <div><strong>E-mail</strong></div>
                    <input type="text" value="{email1}" name="email1" id="email"> @
                    <input type="text" value="{email2}" name="email2" id="email2">
                    <select id="email_select">
                        <option id="hanmail.net">hanmail.net</option>
                        <option id="gmail.com">gmail.com</option>
                        <option id="naver.com">naver.com</option>
                        <option id="또뭐있냐?.com">직접 입력</option>
                    </select>
                </li>
                <li>
                    <div><strong>자기소개</strong></div>
                    <textarea name="intro" value="{intro}" id="intro" cols="30" rows="10"></textarea>
                </li>
                <li>
                    <strong>나의 포인트 :</strong>
                    {point}
                </li>
                <li>
                    <strong>나의 레벨 :</strong>
                    {level}
                </li>
                <li>
                    <strong>가입일 :</strong>
                    {date}
                </li>
                <div>
                    <a href="/user/profile">뒤로 가기</a>
                    <input type="submit" id="submit" value="수정 완료">
                    <a href="" id="resign">회원 탈퇴</a>
                </div>
            </ul>
        </form>
    </template>
</body>
</html>