<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오이마켓 - 프로필</title>
    <link rel="shortcut icon" href="../favicon.png">
    <link type="text/css" rel="stylesheet" href="/css/user/profile.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', async ()=>{


            const option = {
                'Content-type':'application/json',
                withCredentials:true,
            }
            const responseAuth = await axios.post('http://localhost:3000/user/auth',null,option)
            const {errno} = responseAuth.data
            if(errno == 2) {
                alert('로그인부터 하세요')
                location.href = 'http://localhost:3001/user/login'
            } 



            const profiles = document.querySelector('#profiles');
            const profile = document.querySelector('#profile').innerHTML;

            const response = await axios.post('http://localhost:3000/user/profile', null, option);
            console.log(response.data)
            
            const { level, userid, userpw, userimage, name, nickname,
                    birth, address, email, intro,
                    point, date } = response.data;

            let {tel, phone, gender} = response.data;
            
            if (tel.substring(0,2) === '02') {
                tel = tel.substring(0,2) + '-' + tel.substring(2,6) + '-' + tel.substring(6,10);
            } else {
                tel = tel.substring(0,3) + '-' + tel.substring(3,6) + '-' + tel.substring(6,10);
            }

            phone = phone.substring(0,3) + '-' + phone.substring(3,7) + '-' + phone.substring(7,11);
            
            if (gender === "F") gender = "여성";
            if (gender === "M") gender = "남성";

            try {
                let template = '';
                template = profile.replace('{userid}', userid)
                                .replace('{userimage}', userimage)
                                .replace('{name}', name)
                                .replace('{nickname}', nickname)
                                .replace('{birth}', birth)
                                .replace('{address}', address)
                                .replace('{gender}', gender)
                                .replace('{tel}', tel)
                                .replace('{phone}', phone)
                                .replace('{email}', email)
                                .replace('{intro}', intro)
                                .replace('{point}', point)
                                .replace('{level}', level)
                                .replace('{date}', date);
                profiles.innerHTML = template;
            } catch (e) {
                console.log(e.message);
                location.href = 'localhost:3000/user/login';
            }
        });
    </script>
</head>
<body>
    <header>
        <h1>
            <a href="/">오세요~ 이쪽이에요!</a>
        </h1>
        <h2>오이마켓 프로필</h2>
    </header>
    <div id="profiles"></div>
    <template id="profile">
        <div id="content">
            <div id="content_top">
                회원님의 소중한 개인정보는 52마켓 개인정보처리방침에 따라 안전하게 관리되고 있습니다.
            </div>
            <table cellspacing="0" cellpadding="0" border="1" id="info">
                <tr>
                    <td><strong>사진</strong></td>
                    <td><img src="{userimage}" width="80px" height="80px" style="border-radius: 40px;"></td>
                </tr>
                <tr>
                    <td><strong>ID</strong></td>
                    <td>{userid}</td>
                </tr>
                <tr>
                    <td><strong>이름</strong></td>
                    <td>{name}</td>
                </tr>
                <tr>
                    <td><strong>닉네임</strong></td>
                    <td>{nickname}</td>
                </tr>
                <tr>
                    <td><strong>생년월일</strong></td>
                    <td>{birth}</td>
                </tr>
                <tr>
                    <td><strong>주소</strong></td>
                    <td>{address}</td>
                </tr>
                <tr>
                    <td><strong>성별</strong></td>
                    <td>{gender}</td>
                </tr>
                <tr>
                    <td><strong>집전화</strong></td>
                    <td>{tel}</td>
                </tr>
                <tr>
                    <td><strong>휴대폰번호</strong></td>
                    <td>{phone}</td>
                </tr>
                <tr>
                    <td><strong>E-mail</strong></td>
                    <td>{email}</td>
                </tr>
                <tr>
                    <td><strong>자기소개</strong></td>
                    <td>{intro}</td>
                </tr>
                <tr>
                    <td><strong>포인트</strong></td>
                    <td>{point}</td>
                </tr>
                <tr>
                    <td><strong>레벨</strong></td>
                    <td>{level}</td>
                </tr>
                <tr>
                    <td><strong>가입일</strong></td>
                    <td>{date}</td>
                </tr>         
            </table>
            <div id="else">
                <a href="/">뒤로 가기</a>
                <a href="/user/profileUpdate">프로필 수정</a>
            </div>
        </div>
    </template>
    <div id="footer">
        <h2></h2>
    </div>
</body>
</html>