<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <a href="/">Logo</a>
    </h1>
    <h2>
        회원가입 페이지 입니다.
    </h2>
    <form method="post" action="/user/join">
        <ul>
            <li>
                <strong>이름</strong>
                <input type="text" name="name">
            </li>
            <li>
                <strong>닉네임</strong>
                <input type="text" name="nickname">
            </li>
            <li>
                <strong>아이디</strong>
                <input type="text" name="userid">
            </li>
            <li>
                <strong>비밀번호</strong>
                <input type="text" name="userpw">
            </li>
            <li>
                <strong>생년월일</strong>
                <input type="text" name="birth">
            </li>
            <li>
                <strong>성별</strong>
                <input type="text" name="gender">
            </li>
            <li>
                <strong>집전화번호</strong>
                <input type="text" name="tel">
            </li>
            <li>
                <strong>휴대폰번호</strong>
                <input type="text" name="mobile">
            </li>
        </ul>
        <input type="submit" value="회원가입하기">
    </form>
</body>
</html>