<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/user/kakao_agree.css" type="text/css" rel="stylesheet">

</head>
<body>
    <div id="wrap">
        <div id="header">
            <h1>
                <a href="/">Logo</a>
            </h1>
        </div>
       
        <div id="content">
            <h2>
                회원가입 페이지 입니다. 약관을 확인하고 동의해주세요.
            </h2>
            <ul>
                <li>
                    저희 52마켓에 오신 것을 진심으로 환영합니다.
                </li>
                <li>
                    회원가입을 위해서 아래 피망 이용약관 · 개인정보 수집 및 이용에 대한 안내를 읽고 동의해 주세요.
                </li>
                <li>
                    체크박스 체크 후 아래의 확인 버튼을 클릭하시면 동의 절차가 완료됩니다.
                </li>
            </ul>
            <ul>
                <li>
                    <input type="checkbox" name="check">
                </li>
                <li>
                    <input type="checkbox" name="check">
                </li>
                <li>
                    <input type="checkbox" name="check">
                </li>
            </ul>
        </div>
        <a href="/user/kakaoJoin?code={{code}}">동의하기</a>
        <br>
        <a href="/user/kakaoJoin?code={{code}}">이미 옛날에 동의했는데요? 회원가입 옛날에했는데? 말이점점 짧아진다? 디질래?</a>
    </div>
    
</body>
</html>