<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded',async ()=>{
        const profile = document.querySelector('#profile')
        const profileUpdate = document.querySelector('#profileUpdate').innerHTML
        
        const option = {
            "Content-type":"application/json",
            withCredentials:true,
        }

        const response = await axios.post('http://localhost:3000/user/profile',null,option)
        const { level, userid, userimage, name, nickname, userpw,
                birth, address, gender, tel, phone, email, intro,
                point, active, date } = response.data

        let template = '';
        template = profileUpdate.replace('{level}',level)
                                .replace('{userpw}',userpw)
                                .replace('{userid}',userid)
                                .replace('{userimage}',userimage)
                                .replace('{name}',name)
                                .replace('{nickname}',nickname)
                                .replace('{birth}',birth)
                                .replace('{address}',address)
                                .replace('{gender}',gender)
                                .replace('{tel}',tel)
                                .replace('{phone}',phone)
                                .replace('{email}',email)
                                .replace('{intro}',intro)
                                .replace('{point}',point)
                                .replace('{active}',active)
                                .replace('{date}',date.substring(0,10))

                                
        profile.innerHTML = template
        
        
        const profilefrm = document.querySelector('#profilefrm')

        const M = document.querySelector('#genderM')
        const F = document.querySelector('#genderF')

        if(gender==="M") M.checked = true 
        if(gender==="F") F.checked = true 

        const default_birth = birth.substring(0,10)
        document.getElementById("birth").defaultValue = default_birth;


        profilefrm.addEventListener('submit', async (e)=>{
            e.preventDefault();
            
            // const gender = document.querySelector('input[name="gender"]:checked').value;
            // const {userimage:userimage1} = e.target.userimage

            const userpw1 = e.target.userpw.value
            const userimage1 = e.target.userimage.value
            const name1 = e.target.name.value
            const nickname1 = e.target.nickname.value
            const birth1 = e.target.birth.value
            const address1 = e.target.address.value
            const gender1 = e.target.gender.value
            const tel1 = e.target.tel.value
            const phone1 = e.target.phone.value
            const email1 = e.target.email.value
            const intro1 = e.target.intro.value
            
            const body = {
                userpw:userpw1,
                userimage:userimage1,
                name:name1,
                nickname:nickname1,
                birth:birth1,
                address:address1,
                gender:gender1,
                tel:tel1,
                phone:phone1,
                email:email1,
                intro:intro1
            }

            const response2 = await axios.post('http://localhost:3000/user/profileUpdate', body, option)

            if(response2.data.err == 1062) {
                alert('닉네임이 중복됩니다.')
            } else {
                alert(`회원정보가 수정되었습니다!`)
                location.href = 'http://localhost:3001/user/profile'
            }
            
            

            
            
            
        })

        const resign = document.querySelector('#resign')
        resign.addEventListener('click',async(e)=>{
            e.preventDefault()

            const option = {
                "Content-type":"application/json",
                withCredentials:true,
            }

            const resignResponse = await axios.post('http://localhost:3000/user/resign',null,option)
            

            alert('회원 탈퇴가 완료되었습니다...ㅠ')
            location.href = 'http://localhost:3001'
        })
    })
        
    </script>
</head>
<body>
    <h1>
        <a href="/">Logo</a>
    </h1>
    <h2>
        My Profile 임다
    </h2>
    <div id="profile">
        
    </div>
    
    <template id="profileUpdate">
        <form method="post" action="http://localhost:3000/user/profileUpdate" id="profilefrm">
            <ul>
                <li>
                    <strong>ID :</strong>
                    {userid}
                </li>
                <li>
                    <strong>비밀번호 :</strong>
                    <input type="password" value="{userpw}" name="userpw" id="userpw" minlength="1" maxlength="10">    
                </li>
                <li>
                    <strong>사진 :</strong>
                    <input type="text" value="{userimage}" name="userimage" id="userimage" minlength="3" maxlength="10">       
                </li>
                <li>
                    <strong>이름 :</strong>
                    <input type="text" value="{name}" name="name" id="name" minlength="1" maxlength="10">
                </li>
                <li>
                    <strong>닉네임 :</strong>
                    <input type="text" value="{nickname}" name="nickname" id="nickname" maxlength="10">
                </li>
                <li>
                    <strong>생년월일 :</strong>
                    <input type="date" value="{birth}" name="birth" id="birth">
                </li>
                <li>
                    <strong>주소 :</strong>
                    <input type="text" value="{address}" name="address" id="address">
                </li>
                <li>
                    <strong>성별 :</strong>
                    <input type="radio" name="gender" value="M" id="genderM">
                    <label for="genderM">남자</label>
                    <input type="radio" name="gender" value="F" id="genderF">
                    <label for="genderM">여자</label>
                </li>
                <li>
                    <strong>집전화 :</strong>
                    <input type="text" value="{tel}" name="tel" id="tel" maxlength="11">
                </li>
                <li>
                    <strong>핸드폰번호 :</strong>
                    <input type="text" value="{phone}" name="phone" id="phone" maxlength="11">
                </li>
                <li>
                    <strong>E-mail :</strong>
                    <input type="text" value="{email}" name="email" id="email">
                </li>
                <li>
                    <strong>자기소개 :</strong>
                    <input type="text" value="{intro}" name="intro" id="intro">
                </li>
                <li>
                    <strong>나의 포인트 :</strong>
                    {point}
                </li>
                <li>
                    <strong>나의 레벨 :</strong>
                    {level}
                </li>
                <li>
                    <strong>계정 활성화 여부 :</strong>
                    {active}
                </li>
                <li>
                    <strong>가입일 :</strong>
                    {date}
                </li>
                <input type="submit" value="프로필 수정하기">
            </ul>
        </form>
        <a href="" id="resign">회원 탈퇴하기</a>
    </template>

    
</body>
</html>