<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', async ()=>{
            const profiles = document.querySelector('#profiles');
            const profile = document.querySelector('#profile').innerHTML;

            const option = {
                "Content-type":"application/json",
                withCredentials:true,
            }

            const response = await axios.post('http://localhost:3000/user/profile',null,option);
            const { level, userid, userpw, userimage, name, nickname,
                    birth, address, email, intro,
                    point, active, date } = response.data

            let {tel,phone,gender} = response.data
            
            
            if(tel.substring(0,2)==='02'){
                tel = tel.substring(0,2)+'-'+tel.substring(2,6)+'-'+tel.substring(6,10)
            } else {
                tel = tel.substring(0,3)+'-'+tel.substring(3,6)+'-'+tel.substring(6,10)
            }

            phone = phone.substring(0,3)+'-'+phone.substring(3,7)+'-'+phone.substring(7,11)
            
            if(gender==="F") gender = "여자 여성 F 등등 수정가능"
            if(gender==="M") gender = "남자 남성 M 등등 수정가능"

            try {
                let template = '';
                template = profile.replace('{userid}',userid)
                                .replace('{userimage}',userimage)
                                .replace('{name}',name)
                                .replace('{nickname}',nickname)
                                .replace('{birth}',birth)
                                .replace('{address}',address)
                                .replace('{gender}',gender)
                                .replace('{tel}',tel)
                                .replace('{phone}',phone)
                                .replace('{email}',email)
                                .replace('{intro}',intro)
                                .replace('{point}',point)
                                .replace('{active}',active)
                                .replace('{date}',date)
                                    
                profiles.innerHTML = template
            } catch (e){
                alert('로그인부터하시죠?')
                location.href = 'localhost:3000/user/login'
                console.log(e)
            }
            
        });
    </script>
</head>
<body>
    <h1>
        <a href="/">Logo</a>
    </h1>
    <h2>
        My Profile 임다
    </h2>

    <div id="profiles">

    </div>
    
    <template id="profile">
        <ul>
            <li>
                <strong>ID :</strong>
                {userid}
            </li>
            <li>
                <strong>사진 :</strong>
                {userimage}
            </li>
            <li>
                <strong>이름 :</strong>
                {name}
            </li>
            <li>
                <strong>닉네임 :</strong>
                {nickname}
            </li>
            <li>
                <strong>생년월일 :</strong>
                {birth}
            </li>
            <li>
                <strong>주소 :</strong>
                {address}
            </li>
            <li>
                <strong>성별 :</strong>
                {gender}
            </li>
            <li>
                <strong>집전화 :</strong>
                {tel}
            </li>
            <li>
                <strong>핸드폰번호 :</strong>
                {phone}
            </li>
            <li>
                <strong>E-mail :</strong>
                {email}
            </li>
            <li>
                <strong>자기소개 :</strong>
                {intro}
            </li>
            <li>
                <strong>나의 포인트 :</strong>
                {point}
            </li>
            <li>
                <strong>나의 레벨 :</strong>
                {active}
            </li>
            <li>
                <strong>가입일 :</strong>
                {date}
            </li>
        </ul>
    </template>
    <a href="/user/profileUpdate">프로필 수정하기</a>
</body>
</html>