<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="/user/welcome.css" type="text/css" rel="stylesheet">

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', async ()=>{

            const option = {
                'Content-type':'application/json',
                withCredentials:true,
            }
            // 로그인상태에서 /user/welcome 못들어감
            const responseAuth = await axios.post('http://localhost:3000/user/auth',null,option)
            const {errno} = responseAuth.data
            
            if(errno == 2) {
                alert('니가 누군데 환영을 해')
                location.href = 'http://localhost:3001/user/login'
            }
            

            const welcome = document.querySelector('#welcome')
            const welcome2 = document.querySelector('#welcome2').innerHTML
            
            // const option = {
            //     "Content-type":"application/json",
            //     withCredentials:true,
            // }

            const response = await axios.post('http://localhost:3000/user/welcome',null,option);
            const { level, userid, userpw, userimage, name, nickname,
                    address, tel, phone, email, intro,
                    point, active, date } = response.data;

            let {birth, gender}=response.data 
            if(gender == 'F') gender = '여성'
            if(gender == 'M') gender = '남성'

            let template = ''
            template = welcome2.replace('{userid}',userid)
                               .replace('{userimage}',userimage)
                               .replace('{name}',name)
                               .replace('{nickname}',nickname)
                               .replace('{birth}',birth)
                               .replace('{address}',address)
                               .replace('{gender}',gender)
                               .replace('{tel}',tel)
                               .replace('{phone}',phone)
                               .replace('{email}',email)
                               .replace('{intro}',intro)
                               .replace('{point}',point)
                               .replace('{level}',level)
                               .replace('{date}',date)
            welcome.innerHTML = template
        })
    </script>
</head>
<body>
    <div id="all">
        <div id="wrap">
            <div id="header">
                <div id="logo">
                    <h1>
                        <a href="/">Logo</a>
                    </h1>
                </div>
                <div id="category">
                    <h2>
                        회원가입 축하 페이지 입니다.
                    </h2>
                    <h3>
                        로그인 후에 프로필 수정이가능하니 잘못 작성했다고 당황하지마세요~_~
                    </h3>
                    <h3>
                        로그인이 되었습니다!
                    </h3>
                </div>
            </div>
            <div id="welcome">

            </div>

            <template id="welcome2">
                <div id="content">
                    <table>
                        <tr>
                            <td>사진</td>
                            <td><img src="{userimage}" id="welcome_img"></td>
                        </tr>
                        <tr>
                            <td>ID</td>
                            <td>{userid}</td>
                        </tr>
                        <tr>
                            <td>이름</td>
                            <td>{name}</td>
                        </tr>
                        <tr>
                            <td>닉네임</td>
                            <td>{nickname}</td>
                        </tr>
                        <tr>
                            <td>생년월일</td>
                            <td>{birth}</td>
                        </tr>
                        <tr>
                            <td>주소</td>
                            <td>{address}</td>
                        </tr>
                        <tr>
                            <td>성별</td>
                            <td>{gender}</td>
                        </tr>
                        <tr>
                            <td>집전화</td>
                            <td>{tel}</td>
                        </tr>
                        <tr>
                            <td>핸드폰번호</td>
                            <td>{phone}</td>
                        </tr>
                        <tr>
                            <td>E-mail</td>
                            <td>{email}</td>
                        </tr>
                        <tr>
                            <td>자기소개</td>
                            <td>{intro}</td>
                        </tr>
                        <tr>
                            <td>나의 포인트</td>
                            <td>{point}</td>
                        </tr>
                        <tr>
                            <td>나의 레벨</td>
                            <td>{level}</td>
                        </tr>
                        <tr>
                            <td>가입일</td>
                            <td>{date}</td>
                        </tr>
                    </table>
                </div>
            </template>
            <div id="home">
                <a href="/" id="home_a">홈으로!</a>
            </div>
        </div>
    </div>
</body>
</html>