<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <script type="text/javascript" src="https://unpkg.com/axios@0.26.0/dist/axios.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/admin/board.css">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arvo">
    <link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', init);
        async function init() {
            const option = {withCredentials:true};
            const boards =document.querySelector('#boards');
            const board = document.querySelector('#board').innerHTML;
            const searchFrm = document.querySelector('#searchFrm');
            const modify = document.querySelector('#modify');
            const submit = document.querySelector('#submit');
            const hide = document.querySelector('#hide');
            const idx = document.querySelector('#idx');
            const hit = document.querySelector('#hit');
            const good = document.querySelector('#good');

            submit.style.visibility = 'hidden';
            const response = await axios.post('http://localhost:3000/api/admin/board', null, option);
            let template = '';
            response.data.forEach(v=>{
                template += board.replace('{idx}', v.idx)
                                .replace('{main}', v.main)
                                .replace('{sub}', v.sub)
                                .replace('{subject}', v.subject)
                                .replace('{nickname}', v.nickname)
                                .replace('{date}', v.date.split('T')[0])
                                .replace('{hit}', v.hit)
                                .replace('{good}', v.good)
                                .replace('{active}', v.active);
            });
            boards.innerHTML = template;
            const subject = document.querySelectorAll('.subject');
            response.data.forEach(v=>{
                const aElement = document.createElement('a');
                aElement.href = '/admin/board/view/'+v.idx;
                aElement.innerHTML = v.subject;
                subject[v.idx-1].appendChild(aElement);
            });

            searchFrm.addEventListener('submit', async (e)=>{
                e.preventDefault();
                template = '';
                const body = {search:search.value};
                const response = await axios.post('http://localhost:3000/api/admin/boardSearch', body, option);
                response.data.forEach(v=>{
                    template += board.replace('{idx}', v.idx)
                                    .replace('{main}', v.main)
                                    .replace('{sub}', v.sub)
                                    .replace('{subject}', v.subject)
                                    .replace('{nickname}', v.nickname)
                                    .replace('{date}', v.date.split('T')[0])
                                    .replace('{hit}', v.hit)
                                    .replace('{good}', v.good)
                                    .replace('{active}', v.active);
                });
                boards.innerHTML = template;
                const subject = document.querySelectorAll('.subject');
                let cnt = 0;
                response.data.forEach(v=>{
                    const aElement = document.createElement('a');
                    aElement.href = '/admin/board/view/'+v.idx;
                    aElement.innerHTML = v.subject;
                    subject[cnt].appendChild(aElement);
                    cnt++;
                });
            });

            let num = 1;
            hide.addEventListener('click', async ()=>{
                if (num%2 === 1) {
                    const boardModify = document.querySelector('#boardModify').innerHTML;
                    const title = document.querySelector('#title');
                    submit.style.visibility = 'visible';
                    const response = await axios.post('http://localhost:3000/api/admin/board/hide', null, option);
                    boards.innerHTML = '';
                    template = '';
                    response.data.forEach(v=>{
                        template += boardModify.replaceAll('{idx}', v.idx)
                                        .replace('{main}', v.main)
                                        .replace('{sub}', v.sub)
                                        .replace('{subject}', v.subject)
                                        .replace('{nickname}', v.nickname)
                                        .replace('{date}', v.date.split('T')[0])
                                        .replace('{hit}', v.hit)
                                        .replace('{good}', v.good)
                                        .replace('{active}', v.active);
                    });
                    boards.innerHTML = template;
                    const subject = document.querySelectorAll('.subject');
                    let i = 0;
                    response.data.forEach(v=>{
                        const aElement = document.createElement('a');
                        aElement.href = '/admin/board/view/'+v.idx;
                        aElement.innerHTML = v.subject;
                        subject[i].append(aElement);
                        i++;
                    });
                    response.data.forEach(v=>{
                        const active = document.querySelector(`#active_${v.idx}`);
                        const active1 = document.querySelector(`#active1_${v.idx}`);
                        const active0 = document.querySelector(`#active0_${v.idx}`);
                        if (active.value == 1) active1.checked = true;
                        else active0.checked = true;
                    });
                } else {
                    submit.style.visibility = 'hidden';
                    const response = await axios.post('http://localhost:3000/api/admin/board', null, option);
                    let template = '';
                    response.data.forEach(v=>{
                        template += board.replace('{idx}', v.idx)
                                        .replace('{main}', v.main)
                                        .replace('{sub}', v.sub)
                                        .replace('{subject}', v.subject)
                                        .replace('{nickname}', v.nickname)
                                        .replace('{date}', v.date.split('T')[0])
                                        .replace('{hit}', v.hit)
                                        .replace('{good}', v.good)
                                        .replace('{active}', v.active);
                    });
                    boards.innerHTML = template;
                    const subject = document.querySelectorAll('.subject');
                    response.data.forEach(v=>{
                        const aElement = document.createElement('a');
                        aElement.href = '/admin/board/view/'+v.idx;
                        aElement.innerHTML = v.subject;
                        subject[v.idx-1].appendChild(aElement);
                    });
                }
                num++;
                if (title.innerHTML.match(/Active/g) === null) title.innerHTML += ban.innerHTML;
            });

            idx.addEventListener('click', async ()=>{
                const response = await axios.post('http://localhost:3000/api/admin/board/idx', null, option);
                boards.innerHTML = '';
                template = '';
                response.data.forEach(v=>{
                    template += board.replace('{idx}', v.idx)
                                    .replace('{main}', v.main)
                                    .replace('{sub}', v.sub)
                                    .replace('{subject}', v.subject)
                                    .replace('{nickname}', v.nickname)
                                    .replace('{date}', v.date.split('T')[0])
                                    .replace('{hit}', v.hit)
                                    .replace('{good}', v.good)
                                    .replace('{active}', v.active);
                });
                boards.innerHTML = template;
                const subject = document.querySelectorAll('.subject');
                let i = 0;
                response.data.forEach(v=>{
                    const aElement = document.createElement('a');
                    aElement.href = '/admin/board/view/'+v.idx;
                    aElement.innerHTML = v.subject;
                    subject[i].append(aElement);
                    i++;
                });
            });

            hit.addEventListener('click', async ()=>{
                const response = await axios.post('http://localhost:3000/api/admin/board/hit', null, option);
                boards.innerHTML = '';
                template = '';
                response.data.forEach(v=>{
                    template += board.replace('{idx}', v.idx)
                                    .replace('{main}', v.main)
                                    .replace('{sub}', v.sub)
                                    .replace('{subject}', v.subject)
                                    .replace('{nickname}', v.nickname)
                                    .replace('{date}', v.date.split('T')[0])
                                    .replace('{hit}', v.hit)
                                    .replace('{good}', v.good)
                                    .replace('{active}', v.active);
                });
                boards.innerHTML = template;
                const subject = document.querySelectorAll('.subject');
                let i = 0;
                response.data.forEach(v=>{
                    const aElement = document.createElement('a');
                    aElement.href = '/admin/board/view/'+v.idx;
                    aElement.innerHTML = v.subject;
                    subject[i].append(aElement);
                    i++;
                });
            });

            good.addEventListener('click', async ()=>{
                const response = await axios.post('http://localhost:3000/api/admin/board/good', null, option);
                boards.innerHTML = '';
                template = '';
                response.data.forEach(v=>{
                    template += board.replace('{idx}', v.idx)
                                    .replace('{main}', v.main)
                                    .replace('{sub}', v.sub)
                                    .replace('{subject}', v.subject)
                                    .replace('{nickname}', v.nickname)
                                    .replace('{date}', v.date.split('T')[0])
                                    .replace('{hit}', v.hit)
                                    .replace('{good}', v.good)
                                    .replace('{active}', v.active);
                });
                boards.innerHTML = template;
                const subject = document.querySelectorAll('.subject');
                let i = 0;
                response.data.forEach(v=>{
                    const aElement = document.createElement('a');
                    aElement.href = '/admin/board/view/'+v.idx;
                    aElement.innerHTML = v.subject;
                    subject[i].append(aElement);
                    i++;
                });
            });

            let mydata = response.data;
            modify.addEventListener('submit', async (e)=>{
                e.preventDefault();
                let body = {};
                body.active = [];
                mydata.forEach(v=>{
                    const active = document.querySelector(`#active_${v.idx}`);
                    const active1 = document.querySelector(`#active1_${v.idx}`);
                    const active0 = document.querySelector(`#active0_${v.idx}`);
                    if (active1.checked === true) active.value = 1;
                    else active.value = 0;
                    body.active.push(active.value);
                });
                const response = await axios.post('http://localhost:3000/api/admin/boardModify', body, option);
                init();
            });
        };
    </script>
</head>
<body>
    <h1><a href="/admin/board">Board</a></h1>
    <div id="menu">
        <a href="/admin">Home</a>
        <button id="hide">Hide</button>
        <button id="idx">No.</button>
        <button id="hit">Hit</button>
        <button id="good">Good</button>
        <form method="post" id="searchFrm" action="http://localhost:3000/api/admin/search">
            <input type="text" name="search" id="search" placeholder="Subject">
            <input type="submit" id="searchBtn" value="Search">
        </form>
    </div>
    <form method="post" id="modify" action="http://localhost:3000/api/admin/boardModify">
        <input type="submit" id="submit" value="Submit">
        <table cellspacing="0" cellpadding="0" border="1">
            <thead>
                <tr id="title">
                    <th>No.</th>
                    <th>Main Category</th>
                    <th>Sub Category</th>
                    <th>Subject</th>
                    <th>Nickname</th>
                    <th>Date</th>
                    <th>Hit</th>
                    <th>Good</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody id="boards"></tbody>
        </table>
    </form>

    <template id="board">
        <tr>
            <td>{idx}</td>
            <td>{main}</td>
            <td>{sub}</td>
            <td class="subject"></td>
            <td>{nickname}</td>
            <td>{date}</td>
            <td>{hit}</td>
            <td>{good}</td>
            <td>{active}</td>
        </tr>
    </template>

    <template id="boardModify">
        <tr>
            <td>{idx}</td>
            <td>{main}</td>
            <td>{sub}</td>
            <td class="subject"></td>
            <td>{nickname}</td>
            <td>{date}</td>
            <td>{hit}</td>
            <td>{good}</td>
            <td><input type="hidden" name="active" id="active_{idx}" value="{active}">
                <input type="radio" name="active_{idx}" id="active1_{idx}" value="1"><label for="modify1">1</label>
                <input type="radio" name="active_{idx}" id="active0_{idx}" value="0"><label for="modify0">0</label>
            </td>
        </tr>
    </template>
</body>
</html>