<div>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="http://localhost:3000/logo-light.png"/></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if userData %}
              <li class="nav-item">
                  <a class="nav-link" href="/board/write">글쓰기</a>
                </li>

                <!-- <li class="nav-item">
                    <a class="nav-link" href="/board/chat">전체채팅하기</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link" href="#" onclick="publicChatHandler(true)">전체채팅하기</a>
                  </li>

                  
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item"  id="logout" href="">로그아웃</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
      
              {% else %}
          
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Account
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item"  href="/user/login">로그인</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </li>
              {% endif %}
            </ul>
          
          </div>
        </div>
      </nav>

      <div class="chat-wrapper container">
        <div class="public-chat-wrapper" id="public-chat-wrapper">
            <div class="card">
                <div class="card-header">
                    <span>Public Chat </span>
                    <button class="btn btn-primary btn-sm" onclick="publicChatHandler(false)">close</button>
                </div>
                <div class="card-body" style="height:450px" id="chat-msg-box">
                    <ul id="chat" class="">

                    </ul>
                </div>
                <div class="card-footer">
                    <form action="/" method="get">
                        <div class="input-group">
                            <input class="form-control" type="text" name="input" id="input"/>
                            <button class="btn btn-primary" type="submit">send</button>
                        </div>
                    </form>
                  
                 
                </div>
            </div>
         



        </div>
        
        <div class="private-chat-wrapper" id="private-chat-wrapper">
         1:1 chat
      </div>
      </div>
</div>

<style>
    .chat-wrapper{
        position: relative;
  
        transition: all ease .7s;
    }
    .private-chat-wrapper,
    .public-chat-wrapper{
        position: absolute;
        width:100%;
        height:500px;
        background-color: rgb(204, 204, 248);
        z-index: 2;
        top:-650px;
        transition: all ease .7s;

    }
    .private-chat-wrapper .card-body,
    .public-chat-wrapper .card-body {
        height:400px;
        overflow-y: scroll;
    }
    #chat{
        list-style: none;
    }
    #chat li{
        padding:8px 12px;
        margin-bottom: 3px;
        background-color: rgb(167, 255, 255);
        border-radius: 12px;
        color: rgb(9, 9, 49);
    }
  
  
</style>
<script>
    let isChat=true
    const publicChat = document.getElementById('public-chat-wrapper')
    const privateChat=document.getElementById('private-chat-wrapper')
    const publicChatHandler =()=>{
        if(isChat){
            isChat=false
            publicChat.style.top="0px"
        }else{
            isChat=true
            publicChat.style.top="-650px"
        }
        
    }
</script>



<script type="text/javascript">
    //chat script
    // 내장 객체. WebSocket 
 
  

    // webSocket.onmessage = (event) => {
    //     const message = JSON.parse(event.data) 
    //     const {event:evt, msg} = message
    //     // {"event":"init","msg":"야 클라이언트 이거 받아봐~"}
    //     // -> Object 로 변환해서 message 받져

    //     if ( evt === 'init') {
    //         console.log( msg )
    //     } else if ( evt === 'ingoo') {
    //         // document.write(msg)
    //         // document.body.innerHTML = msg
    //     } else if ( evt === 'return') {
    //         webSocket.send('호호호호~')
    //     }
    // }
        const chatMsgBox = document.getElementById('chat-msg-box')
        // 
    document.addEventListener('DOMContentLoaded',()=>{
        const webSocket = new WebSocket('ws://localhost:3006')
        webSocket.onopen = () => {
            console.log('웹소켓 Connection 성공 ( Handshake )')
            let welcomMent = {
                type:'welcom',
                data:{
                    nickname:'{{  userData.nickname  }}',
                }
            }

            webSocket.send(JSON.stringify(welcomMent))

        }

        webSocket.onclose = () => {
            console.log('웹소켓 disconnection')
        }
       

        const form = document.querySelector('form')
        form.addEventListener('submit', (e)=>{
            e.preventDefault()
           
            const{ input } = e.target
            let data = {
                type:'send_meg',
                data:{
                    nickname:'{{  userData.nickname  }}',
                    msg:input.value,
            
                }
            }

            
            webSocket.send(JSON.stringify(data))
            input.value = ''
            input.focus()
        })

        webSocket.onmessage = (event) => {

            const chat = document.querySelector('#chat')
            const liElement = document.createElement('li')
            liElement.classList=''
            liElement.innerHTML = event.data
            chat.appendChild(liElement)
            chatMsgBox.scrollTop = chatMsgBox.scrollHeight;
            console.log(event.data)
        }
    })
</script>




<script type="text/javascript">
    const logout = document.querySelector('#logout')
    
    logout.addEventListener('click', async (e)=>{
        e.preventDefault()

        const option = {
                'Content-type':'application/json',
                withCredentials:true,
        }

        const response = await axios.post('http://localhost:3000/user/logout',null,option)
        // const kakaoResponse = await axios.post('http://localhost:3000/user/kakaoLogout',null,option)
        
        alert(`로그아웃 되었습니다!!!!`)
        location.href = 'http://localhost:3001'
    })
</script>
  