<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오이마켓</title>
    <link rel="shortcut icon" href="favicon.png">
    <link type="text/css" rel="stylesheet" href="http://localhost:3001/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <script type="text/javascript">
     
        document.addEventListener('DOMContentLoaded', async ()=>{
       
            const option = {withCredentials:true};
            const ul = document.querySelector('header > ul');
            const beforeLogin = document.querySelector('#beforeLogin').innerHTML;
            const afterLogin = document.querySelector('#afterLogin').innerHTML;
            const container = document.querySelector('#container');
            const contentBoxes = document.querySelector('#contentBoxes').innerHTML;
            const searchForm = document.querySelector('#search-form');
            const searchType = document.querySelector('#search-type');
            const searchInput = document.querySelector('#search-input');
            const searchBtn = document.querySelector('#search-button');

            // const response = await axios.post('http://localhost:3000/loginCheck', null, option);
            const _userdata = await axios.post('http://localhost:3000/userdata', null, option);
            // console.log(_userdata.data.isLogin)
            // const {errno} = response.data;
          
         
            if (_userdata.data.isLogin===false) ul.innerHTML = beforeLogin;
            else {
                
                // console.log(response)
                ul.innerHTML = afterLogin;
                const logout = document.querySelector('#logout');
                logout.addEventListener('click', async (e)=>{
                    e.preventDefault();
                    const response2 = await axios.post('http://localhost:3000/user/logout', null, option);
                    alert('로그아웃 되었습니다.')
                    location.href = 'http://localhost:3001/';
                });
            }

            let template = '';
            const response2 = await axios.post('http://localhost:3000/board/list', null, option);
            response2.data.data.forEach(v=>{
                console.log(v)
             
                // console.log(v.goodUsers.split(',').findIndex(f=>f===userdata.userid)===-1?'':'fill')
                template += contentBoxes.replace('{userid}', v.userid)
                                        .replace('{subject}', v.subject)
                                        .replace('{imageName}', v.imageName.split(',')[0])
                                        .replace('{date}', v.date.split('T')[0])
                                        .replace('{hit}', v.hit)
                                        .replace('{good}', v.good)
                                        .replace('{idx}', v.idx)
                                        .replace('{userimage}' , v.userimage)
                                        .replace('{idx}', v.idx)
                                        .replace('{iconidx}', v.idx)
                                        .replace('{fill}',v.goodUsers!==null?v.goodUsers.split(',').findIndex(f=>f===_userdata.data.userid)===-1?'':'-fill':'')
            });
            container.innerHTML = template;
            template = '';

            const tagBox = document.querySelectorAll('#tagBox');
            const tag = document.querySelector('#tag').innerHTML;
            
            let tagTemplate = '';
            response2.data.data.forEach((v, i)=>{
                for (let i = 0; i < v.tag.length; i++) {
                    tagTemplate += tag.replace('{tag}', v.tag[i].tag);
                }
                tagBox[i].innerHTML = tagTemplate;
                tagTemplate = '';
            });

            searchForm.addEventListener('submit', async (e) => {
                e.preventDefault();
                const body3 = {
                    type: searchType.value,
                    searchText: searchInput.value
                };
                const response3 = await axios.post('http://localhost:3000/board/search', body3, option);
                if (!response3.data.status) {
                    alert('최소 두 글자 이상 입력해주세요.');
                } else if (response3.data.data.length === 0) {
                    alert('검색 결과가 없습니다.');
                } else {
                    response3.data.data.forEach(v=>{
                  
                        template += contentBoxes.replace('{userid}', v.userid)
                                                .replace('{subject}', v.subject)
                                                .replace('{imageName}', v.imageName.split(',')[0])
                                                .replace('{date}', v.date.split('T')[0])
                                                .replace('{hit}', v.hit)
                                                .replace('{good}', v.good)
                                                .replace('{idx}', v.idx)
                                                .replace('{userimage}' , v.userimage)
                                                .replace('{idx}', v.idx)
                                                .replace('{iconidx}', v.idx)
                                                .replace('{fill}',v.goodUsers!==null?v.goodUsers.split(',').findIndex(f=>f===_userdata.data.userid)===-1?'':'-fill':'')
                                                
                    });
                    container.innerHTML = template;
                    template = '';

                    const tagBox2 = document.querySelectorAll('#tagBox');
                    const tag2 = document.querySelector('#tag').innerHTML;
                    
                    let tagTemplate = '';
                    response3.data.data.forEach((v, i)=>{
                        for (let i = 0; i < v.tag.length; i++) {
                            tagTemplate += tag2.replace('{tag}', v.tag[i].tag);
                        }
                        tagBox2[i].innerHTML = tagTemplate;
                        tagTemplate = '';
                    });
                    LikeScrap();
                }
            });

            function LikeScrap() {
                const like = document.querySelectorAll('#like');
                const beforeLike = document.querySelectorAll('#beforeLike');
                const afterLike = document.querySelectorAll('#afterLike');
                const scrap = document.querySelectorAll('#scrap');
                const befoerScrap = document.querySelectorAll('#beforeScrap');
                const afterScrap = document.querySelectorAll('#afterScrap');
                
                const cnt = [];
                const cnt2 = [];
                for (let i = 0; i < like.length; i++) {
                    afterLike[i].style.display = 'none';
                    afterScrap[i].style.display = 'none';
                    cnt.push(1);
                    cnt2.push(1);
                }
                for (let j = 0; j < like.length; j++) {
                    like[j].addEventListener('click', ()=>{
                        if (cnt[j] % 2 === 1) {
                            beforeLike[j].style.display = 'none';
                            afterLike[j].style.display = 'block';
                        } else {
                            beforeLike[j].style.display = 'block';
                            afterLike[j].style.display = 'none';
                        }
                        cnt[j]++;
                    });
                    scrap[j].addEventListener('click', ()=>{
                        if (cnt2[j] % 2 === 1) {
                            befoerScrap[j].style.display = 'none';
                            afterScrap[j].style.display = 'block';
                        } else {
                            befoerScrap[j].style.display = 'block';
                            afterScrap[j].style.display = 'none';
                        }
                        cnt2[j]++;
                    });
                }
            }
            LikeScrap();
        });
    </script>
</head>
<body>
    <h2><a href="/">오세요~ 이쪽이에요!</a></h2>
    <h1><a href="/">오이마켓</a></h1>
    <header>
        <form class="search-wrapper" id="search-form" action="/">
            <select id="search-type">
                <option value="subject">제목</option>
                <option value="nickname">글쓴이</option>
                <option value="content">내용</option>
                <option value="userid">아이디</option>
                <option value="tag">해시태그</option>
            </select>
            <input type="text" name="search" id="search-input">
            <button type="submit" id="search-button">Search</button>
        </form>
        <ul>
            <template id="beforeLogin">
                <li><a href="user/join">회원가입</a></li>
                <li><a href="user/login">로그인</a></li>
            </template>
            <template id="afterLogin">
                <li><a href="user/profile">프로필</a></li>
                <li><a href="board/write">글쓰기</a></li>
                <li><button id="logout">로그아웃</button></li>
            </template>
        </ul>
    </header>
    <div id="category">
        <span><a href="#">중고거래</a></span>
        <span><a href="#">동네친구찾기</a></span>
        <span><a href="#">Q&A</a></span>
        <span><a href="#">신고</a></span>
    </div>

    <div id="container">
        <template id="contentBoxes">

            <div id="contentBox">
                <img src="http://localhost:3000/uploades/{imageName}" width="280px" height="200px">
                <strong><a href="board/view/{idx}">{subject}</a></strong>
                <div id="tagBox"></div>
                <div>작성일 : {date}</div>
                <div>조회수 : {hit}</div>
                <div>좋아요 : {good}</div>
                <div id="author">
                    <img src="{userimage}" width="25px" height="25px">
                    <span>
                        by <strong><a href="#">{userid}</a></strong>
                    </span>
                    <button id="like" type="submit" onclick="goodClickHandler({idx})" style="cursor:pointer">
                        <i id="heart-icon-{iconidx}" class="bi bi-suit-heart{fill}"></i>
                        <!-- <i class="bi bi-suit-heart-fill"></i> -->
                        
                    </button>
                    
                    <!-- 

                       

                     -->
                    <!-- <button id="scrap">
                        <img id="beforeScrap" src="/star.png" width="20px" height="20px">
                        <img id="afterScrap" src="/star2.png" width="20px" height="20px">
                    </button>
                    <button id="like">
                        <img id="beforeLike" src="/heart.png" width="20px" height="20px">
                        <img id="afterLike" src="/heart2.png" width="20px" height="20px">
                    </button> -->
                </div>
            </div>




        </template>
    </div>

    <template id="tag">
        <span class="tag-item"># {tag}</span>
    </template>

    <script>
       async function goodClickHandler(_idx) {
        const heartIcon = document.getElementById(`heart-icon-${_idx}`).classList
        const option = {withCredentials:true};
         const _goodResponse = await axios.post(`http://localhost:3000/board/good/${_idx}`, null, option);
        if(_goodResponse.data.status){
            heartIcon.remove('bi-suit-heart')
            heartIcon.add('bi-suit-heart-fill')
         }

        }
      
    </script>
</body>
</html>