<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>52market</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link type="text/css" rel="stylesheet" href="http://localhost:3001/board/view.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header">
                제목 : <span id="subject"></span>
            </div>
            <div class="card-body">
                닉네임 : <span id="nickname"></span>
                <div id="hit"></div>
            </div>
            <div class="card-body">
                <div id="image" class="card-image"></div>
            </div>
            <div class="card-body">
                <div id="content"></div>
            </div>
        </div>

        <div>
            <ul id="commentApp"></ul>
        </div>

        <template id="commentForm">
            <li class="comment-form">
                <form action="post" action="">
                    <h4>댓글쓰기<span></span></h4>
                    <span class="ps_box">
                        <input type="text" placeholder="댓글 내용을 입력해주세요." class="int" value="" name="input">
                    </span>
                    <input type="submit" class="btn" value="등록" />
                </form>
            </li>
        </template>

        <template id="commentList">
            <li>
                <ul class="comment-row">
                    <li class="comment-id"></li>
                    <li class="comment-content">
                        <input type="hidden" name="uuid" value="" />
                        <span class="comment-delete-btn">X</span>
                    </li>
                    <li class="comment-date"></li>
                </ul>
            </li>
        </template>

        <template id="commentInput">
            <span>
                <input type="text" class="comment-update-input" value="">
            </span>
        </template>
    </div>
    <div id="private_chat"></div>
    <script type="text/javascript" src="http://localhost:3001/function/board/view.js"></script>
</body>
</html>