<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <a href="/">Logo</a>
    </h1>
    <h2>
        보드 리스트 페이지 입니다.
    </h2>

    <table>
        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>작성자</td>
            <td>작성일</td>
            <td>조회수</td>
        </tr>
        <tr>
            <td>3</td>
            <td>안녕하세요</td>
            <td>링컨</td>
            <td>13:47</td>
            <td>4</td>
        </tr>
        <tr>
            <td>2</td>
            <td>안녕하세요ㅎㅇㅎㅇ</td>
            <td>푸틴</td>
            <td>2022-03-17</td>
            <td>84</td>
        </tr>
        <tr>
            <td>1</td>
            <td>반갑슴다ㄱㄱ</td>
            <td>잘츠부르크</td>
            <td>2022-03-15</td>
            <td>22</td>
        </tr>
    </table>
    <a href="/board/write">글 쓰기</a>
</body>
</html>