<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        <a href="/">Logo</a>
    </h1>
    <h2>
        글 보기 페이지 입니다.
    </h2>
    <ul>
        <li>
            <strong>제목 :</strong>
            안녕하세욜
        </li>
        <li>
            <strong>작성자 :</strong>
            링컨
        </li>
        <li>
            <strong>작성일 :</strong>
            2022-03-17 19:04
        </li>
        <li>
            <strong>내용 :</strong>
            등업좀요
        </li>
    </ul>
    <a href="/board/list">목록보기</a>
    <a href="/board/modify">수정하기</a>
    
</body>
</html>