@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
}

@font-face {
    font-family: 'GangwonEdu_OTFLightA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'GangwonEdu_OTFLightA';;
    font-size: 20px;
}

body {
    background-color: rgba(221, 221, 221, 0.933);
    /* cursor: url('../5252.png'), auto; */
}

li {list-style: none;}

a {
    text-decoration: none;
    color: black;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

h1 {
    display: flex;
    height: 50px;
    justify-content: center;
    margin-top: 10px;
}

h1 > a {
    height: 30px;
    font-size: 40px;
    font-weight: 800;
}





.container {

    width: 100%;
  
}

.contentBox {
    float: left;
    width: 280px;
    height: auto;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px rgb(0,0, 0, 0.1);
}

.contentBox > img {
    display: block;
}

strong {
    display: inline-block;
    margin-top: 12px;
    font-weight: 700;
}

.contentBox > div {
    margin: 5px auto;
    font-weight: 400;
}

.author {
    border-top: 1px solid gray;
}

.author > img {
    margin-top: 10px;
    border-radius: 15px;
}

.author > span {
    display: inline-block;
    margin-left: 5px;
    padding-top: 0px;
}

button {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    background-color: white;
}

button > img {
    cursor: pointer;
}

.like {
    margin-right: 10px;
}



/* --------------------------- 
        헤더
 --------------------------- */
header{
    margin-right: 50px;
    margin-left: 50px;
}
/* --------------------------- 
        메뉴
 --------------------------- */
.navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


/* --------------------------- 
        메뉴아이템버튼
 --------------------------- */

.auth-login,
.auth-profile,
.category {
    line-height: 50px;
    font-weight: bold;
}

.auth-profile  span ,
.auth-login  span  ,
.category  span  {
    padding:5px 10px;
}

.auth-profile > span > a,
.auth-login > span > a ,
.category > span > a {
    font-size: 30px;
}

