* {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', 'nanumsquare', serif;
    background-color: #eee;
}

a {
    text-decoration: none;
    text-align: center;
    color: black;
}

h1, #menu {
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: 15px;
}

#menu {
    width: 1000px;
    margin: 15px 0px 15px 465px;
}

#menu > a {
    width: 65px;
    height: 25px;
    margin-right: 10px;
    line-height: 25px;
    border-radius: 5px;
    background-color: rgb(200, 200, 200);
}

button {
    width: 65px;
    height: 25px;
    font-size: 15px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(200, 200, 200);
}

table {
    width: 80%;
    margin: 0 auto;
}

td, th {
    padding: 3px 5px;
    text-align: center;
}

th {
    background-color: rgb(253, 253, 120);
}

#submit {
    width: 65px;
    height: 25px;
    margin-bottom: 10px;
    margin-left: 1300px;
    border: none;
    border-radius: 5px;
    background-color: rgb(160, 160, 160);
}

#searchFrm {
    display: block;
    margin-left: 150px;
}

#search {
    height: 22px;
    background-color: white;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 5px;
}

#searchBtn {
    width: 65px;
    height: 25px;
    margin-left: 5px;
    font-size: 15px;
    background-color: rgb(200, 200, 200);
    border: none;
    border-radius: 5px;
}